<header>
    <h2>{{'requisitionView.reportAndRequisitionFor' | message}} {{vm.program.name}} ({{vm.facility.type.name}})</h2>
</header>
<ng-include src="'requisition-view/header.html'"></ng-include>
<status-messages requisition="vm.requisition"></status-messages>
<section>
    <header>
        <h3>{{'requisitionViewReport.reports' | message}}</h3>
    </header>
</section>
<div class="report-container scroll-x" ng-if="vm.requisition.template.enableALUsageModule">
    <al-report
            line-items="vm.requisition.alLineItems"
            read-only="{{true}}"
    ></al-report>
</div>
<div class="report-container" ng-if="vm.requisition.template.enableARVProductModule">
    <arv-product-report
            line-items="vm.requisition.requisitionLineItems"
            read-only="{{true}}">
    </arv-product-report>
</div>
<div class="max-width-regiment report-container"
     ng-if="vm.requisition.template.enableARVTherapeuticLinesModule ||
     vm.requisition.template.enableARVTherapeuticRegimentModule">
    <arv-regiment-report
            ng-if="vm.requisition.template.enableARVTherapeuticRegimentModule"
            line-items="vm.requisition.regimenLineItems"
            custom-regimens="vm.requisition.customRegimens"
            read-only="{{true}}">
    </arv-regiment-report>
    <arv-regiment-summary-report
            ng-if="vm.requisition.template.enableARVTherapeuticLinesModule"
            line-items="vm.requisition.regimenDispatchLineItems"
            read-only="{{true}}">
    </arv-regiment-summary-report>
</div>
<div class="report-container" ng-if="vm.requisition.template.enableARVPatientModule">
    <arv-patient-report
            line-items="vm.requisition.patientLineItems"
            read-only="{{true}}">
    </arv-patient-report>
</div>
<div class="report-container" ng-if="vm.requisition.template.enableRapidTestProductModule">
    <rapid-test-product-report
            requisition="vm.requisition"
            read-only="{{true}}">
    </rapid-test-product-report>
</div>
<div class="report-container" ng-if="vm.requisition.template.enableRapidTestServiceModule">
    <rapid-test-report
            requisition="vm.requisition"
            read-only="{{true}}">
    </rapid-test-report>
</div>