<div class="rapid-test-form">
  <table cellpadding="0" cellspacing="0">
    <tr>
      <td rowspan="3" class="background-black banner-text black-width">
        <div class="banner-text text-nowrap">CMAM - TDR</div>
      </td>
      <td><span style="float: left" class="view-table-logo"></span></td>
      <td class="text__left">
        <h6 openlmis-message="view.rnr.republic.of.mozambique">
          {{ vm.constantMsg.REPUBLIC_OF_MOZAMBIQUE }}
        </h6>
        <h6 openlmis-message="view.rnr.ministry.of.health">
          {{ vm.constantMsg.MINISTRY_OF_HEALTH }}
        </h6>
        <h6 openlmis-message="view.rnr.central.medicines.and.medical.arricles">
          {{ vm.constantMsg.CENTRAL_MEDICINES_AND_MEDICAL_ARTICLES }}
        </h6>
      </td>
      <td class="report--title width-700">
        <span class="report--title-font">
          {{ vm.constantMsg.RAPID_TEST_TITLE }}
        </span>
      </td>
      <td>
        <span openlmis-message="view.rnr.month">
          {{ vm.constantMsg.MONTH }}
        </span>
        <span>: month</span>
      </td>
    </tr>

    <tr>
      <td colspan="3" class="text__left">
        <span openlmis-message="view.rnr.healthFacility">
          {{ vm.constantMsg.HEALTH_FACILITY }}
        </span>:
        <span>facilityName</span>
      </td>
      <td rowspan="2">
        <span openlmis-message="view.rnr.year">
          {{ vm.constantMsg.YEAR }}
        </span>
        <span>: year</span>
      </td>
    </tr>

    <tr class="text__left">
      <td>
        <span openlmis-message="view.rnr.district">
          {{ vm.constantMsg.DISTRICT }}
        </span>:
      </td>
      <td>name</td>
      <td>
        <span openlmis-message="view.rnr.province">
          {{ vm.constantMsg.PROVINCE }}
        </span>:parentName
      </td>
    </tr>
  </table>

  <table cellpadding="0" cellspacing="0">
    <tr>
      <td class="background-black black-width"></td>
      <td colspan="9" class="report--title height-50">
        <span class="report--title-font" openlmis-message="view.rnr.rapid.test.secondTitle">
          {{ vm.constantMsg.SENCOND_TITLE }}
        </span>
        <span class="report--subtitle" openlmis-message="view.rnr.rapid.test.attentionkits">
          {{ vm.constantMsg.ATTENTIONKITS }}
        </span>
      </td>
    </tr>
    <tr class="table--title">
      <td class="background-black black-width"></td>
      <td colspan="2" openlmis-message="view.rnr.rapid.test.codeandproduct">
        {{ vm.constantMsg.CODE_AND_PRODUCT }}
      </td>
      <!--<td openlmis-message="view.rnr.rapid.test.unit"></td>-->
      <td openlmis-message="view.rnr.rapid.test.initialstork">
        {{ vm.constantMsg.INITIAL_STOCK }}
      </td>
      <td openlmis-message="view.rnr.rapid.test.entries">
        {{ vm.constantMsg.ENTRIES }}
      </td>
      <td openlmis-message="view.rnr.rapid.test.issues">
        {{ vm.constantMsg.ISSUES }}
      </td>
      <td openlmis-message="view.rnr.rapid.test.lossandadjustment">
        {{ vm.constantMsg.LOSS_AND_ADJUSTMENT }}
      </td>
      <td openlmis-message="view.rnr.rapid.test.inverntory">
        {{ vm.constantMsg.INVERNTORY }}
      </td>
      <td openlmis-message="view.rnr.rapid.test.expirydate">
        {{ vm.constantMsg.EXPIRY_DATE }}
      </td>
    </tr>

    <!--Todo: waiting the android release, then should change the code.-->
    <tr ng-repeat="product in rnr.fullSupplyLineItems">
      <td class="background-black black-width"></td>
      <td class="font-bold">{{product.productCode}}</td>
      <td class="font-bold">{{product.productPrimaryName}}</td>
      <!--<td></td>-->
      <td>{{product.beginningBalance}}</td>
      <td>{{product.quantityReceived}}</td>
      <td>{{product.quantityDispensed}}</td>
      <td>{{product.totalLossesAndAdjustments}}</td>
      <td>{{product.stockInHand}}</td>
      <td>{{product.expirationDate}}</td>
    </tr>
  </table>

  <table cellpadding="0" cellspacing="0">
    <tr>
      <td class="background-black black-width"></td>
      <td colspan="13" class="report--title height-50">
        <span class="report--title-font" openlmis-message="view.rnr.rapid.test.thirdTitle">
          {{ vm.constantMsg.THIRD_TITLE }}
        </span>
        <span class="report--subtitle" openlmis-message="view.rnr.rapid.test.attentiontests">
          {{ vm.constantMsg.THIRD_ATTENTIONTESTS }}
        </span>
      </td>
    </tr>
    <tr class="table--title">
      <td class="background-black black-width"></td>
      <td rowspan="2" openlmis-message="view.rnr.rapid.test.service">
        {{ vm.constantMsg.SERVICES }}
      </td>
      <td colspan="3" openlmis-message="view.rnr.rapid.test.hivdetermine">
        {{ vm.constantMsg.HIV_DETERMINE }}
      </td>
      <td colspan="3" openlmis-message="view.rnr.rapid.test.hivunigold">
        {{ vm.constantMsg.HIV_UNIGOLD }}
      </td>
      <td colspan="3" openlmis-message="view.rnr.rapid.test.syphillis">
        {{ vm.constantMsg.SYPHILLIS }}
      </td>
      <td colspan="3" openlmis-message="view.rnr.rapid.test.malaria">
        {{ vm.constantMsg.MALARIA }}
      </td>
    </tr>
    <tr>
      <td class="background-black black-width"></td>
      <td class="table--subtitle-light-gray" openlmis-message="view.rnr.rapid.test.consumption"></td>
      <td class="table--subtitle-middle-gray" openlmis-message="view.rnr.rapid.test.positive"></td>
      <td class="table--subtitle-dark-gray" openlmis-message="view.rnr.rapid.test.unjustifiled"></td>

      <td class="table--subtitle-light-gray" openlmis-message="view.rnr.rapid.test.consumption"></td>
      <td class="table--subtitle-middle-gray" openlmis-message="view.rnr.rapid.test.positive"></td>
      <td class="table--subtitle-dark-gray" openlmis-message="view.rnr.rapid.test.unjustifiled"></td>

      <td class="table--subtitle-light-gray" openlmis-message="view.rnr.rapid.test.consumption"></td>
      <td class="table--subtitle-middle-gray" openlmis-message="view.rnr.rapid.test.positive"></td>
      <td class="table--subtitle-dark-gray" openlmis-message="view.rnr.rapid.test.unjustifiled"></td>

      <td class="table--subtitle-light-gray" openlmis-message="view.rnr.rapid.test.consumption"></td>
      <td class="table--subtitle-middle-gray" openlmis-message="view.rnr.rapid.test.positive"></td>
      <td class="table--subtitle-dark-gray" openlmis-message="view.rnr.rapid.test.unjustifiled"></td>
    </tr>

    <tr ng-if="service.name !== 'total' && service.name !== 'APES'" ng-repeat="service in content">
      <td class="background-black black-width"></td>
      <td>{{service.name}}</td>
      <td>{{service['CONSUME_HIVDETERMINE']}}</td>
      <td>{{service['POSITIVE_HIVDETERMINE']}}</td>
      <td>{{service['UNJUSTIFIED_HIVDETERMINE']}}</td>

      <td>{{service['CONSUME_HIVUNIGOLD']}}</td>
      <td>{{service['POSITIVE_HIVUNIGOLD']}}</td>
      <td>{{service['UNJUSTIFIED_HIVUNIGOLD']}}</td>

      <td>{{service['CONSUME_SYPHILLIS']}}</td>
      <td>{{service['POSITIVE_SYPHILLIS']}}</td>
      <td>{{service['UNJUSTIFIED_SYPHILLIS']}}</td>

      <td>{{service['CONSUME_MALARIA']}}</td>
      <td>{{service['POSITIVE_MALARIA']}}</td>
      <td>{{service['UNJUSTIFIED_MALARIA']}}</td>
    </tr>

    <tr ng-if="service.name == 'total'" ng-repeat="service in content" class="table--title height-30">
      <td class="background-black black-width"></td>
      <td openlmis-message="label.total"></td>
      <td>{{service['CONSUME_HIVDETERMINE']}}</td>
      <td>{{service['POSITIVE_HIVDETERMINE']}}</td>
      <td>{{service['UNJUSTIFIED_HIVDETERMINE']}}</td>

      <td>{{service['CONSUME_HIVUNIGOLD']}}</td>
      <td>{{service['POSITIVE_HIVUNIGOLD']}}</td>
      <td>{{service['UNJUSTIFIED_HIVUNIGOLD']}}</td>

      <td>{{service['CONSUME_SYPHILLIS']}}</td>
      <td>{{service['POSITIVE_SYPHILLIS']}}</td>
      <td>{{service['UNJUSTIFIED_SYPHILLIS']}}</td>

      <td>{{service['CONSUME_MALARIA']}}</td>
      <td>{{service['POSITIVE_MALARIA']}}</td>
      <td>{{service['UNJUSTIFIED_MALARIA']}}</td>
    </tr>

    <tr class="black-tr"></tr>

    <tr ng-if="service.name == 'APES'" ng-repeat="service in content">
      <td class="background-black black-width">a</td>
      <td class="table--subtitle-dark-gray">APEs</td>
      <td>{{service['CONSUME_HIVDETERMINE']}}</td>
      <td>{{service['POSITIVE_HIVDETERMINE']}}</td>
      <td>{{service['UNJUSTIFIED_HIVDETERMINE']}}</td>

      <td>{{service['CONSUME_HIVUNIGOLD']}}</td>
      <td>{{service['POSITIVE_HIVUNIGOLD']}}</td>
      <td>{{service['UNJUSTIFIED_HIVUNIGOLD']}}</td>

      <td>{{service['CONSUME_SYPHILLIS']}}</td>
      <td>{{service['POSITIVE_SYPHILLIS']}}</td>
      <td>{{service['UNJUSTIFIED_SYPHILLIS']}}</td>

      <td>{{service['CONSUME_MALARIA']}}</td>
      <td>{{service['POSITIVE_MALARIA']}}</td>
      <td>{{service['UNJUSTIFIED_MALARIA']}}</td>
    </tr>
  </table>

  <div class="report--footer-section">
    <table>
      <tr class="height-50">
        <td class="font-bold text__left">
          <span openlmis-message="view.rnr.mmia.comments"></span>:
        </td>
      </tr>
      <tr class="height-30 text__left"><td>{{rnr.clientSubmittedNotes}}</td></tr>
    </table>
  </div>

  <div class="report--footer-section">
    <table>
      <tr class="height-50">
        <td style="vertical-align: baseline" class="font-bold text__left">
          <span openlmis-message="view.rnr.mmia.createBy"></span>: {{submitterSignature}}
        </td>
        <td style="vertical-align: baseline" class="font-bold text__left">
          <span openlmis-message="view.rnr.mmia.vistor"></span>: {{approverSignature}}
        </td>
        <td style="vertical-align: baseline" class="font-bold text__left">
          <span openlmis-message="view.rnr.mmia.dateOfCreate"></span>: {{submittedDate}}
        </td>
      </tr>
    </table>
  </div>

  <div class="align-right">
    <button class="btn btn-primary btn-download btn-download-pdf" ng-click="downloadPdf()" openlmis-message="view.rnr.mmia.download.button">download</button>
  </div>

  <div class="align-right">
    <button class="btn btn-primary btn-download btn-download-simam" ng-click="downloadSimam()" openlmis-message="view.rnr.download.simam.button">download simam</button>
  </div>
</div>

