<div class="soh-product-detail-print">
    <div class="header-container">
        <div class="report-title">
            <div>{{'sohLocationPrint.title.productLevel' | message }}</div>
            <div style="font-weight: 600; font-size: 15px;">({{ 'shipmentViewReport.tips' | message }})</div>
        </div>
        <div class="report-info-container">
            <div class="report-info">{{ 'stockCard.facilityName' | message }}: {{vm.facility.name}}</div>
            <div class="report-info">{{ 'sohLocationPrint.facilityCode' | message }}: {{vm.facility.code}}</div>
            <div class="report-info">{{ 'stockCard.program' | message }}: {{vm.program.name}}</div>
            <div class="report-info">{{ 'sohLocationPrint.programCode' | message }}: {{vm.program.code}}</div>
            <div class="report-info">{{ 'sohLocationPrint.product' | message }}: {{vm.stockCard.productName}}</div>
            <div class="report-info">{{ 'stockCard.productCode' | message }}: {{vm.stockCard.productCode}}</div>
            <div ng-if="!vm.isArchived" class="report-info">{{ 'stockCard.soh' | message }}: {{vm.stockCard.stockOnHand}}</div>
        </div>
    </div>
    <section>
        <table border cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th style="width: 116px;">{{'stockCard.date' | message}}</th>
                <th style="width: 116px;">{{'stockCard.from' | message}}</th>
                <th style="width: 120px;">{{'stockCard.to' | message}}</th>
                <th style="width: 196px;">{{'stockCard.reason' | message}}</th>
                <th style="width: 91px;">{{'stockCard.adjustment' | message}}</th>
                <th style="width: 123px;">{{'stockCard.soh' | message}}</th>
                <th style="width: 222px;">{{'stockCard.documentNumber' | message}}</th>
                <th style="width: 103px;">{{'stockCard.signature' | message}}</th>
            </tr>
            <tbody>
            <tr ng-repeat="lineItem in vm.stockCard.lineItems track by $index">
                <td>{{lineItem.dateOfMovement | openlmisDate}}</td>
                <td>
                    {{lineItem.sourceFreeText ? ('stockCard.srcDstAndFreeText' |
                    message: {name:lineItem.sourceName, freeText: lineItem.sourceFreeText}) : lineItem.sourceName}}
                </td>
                <td>
                    {{lineItem.destinationFreeText ? ('stockCard.srcDstAndFreeText' |
                    message: {name:lineItem.destinationName, freeText: lineItem.destinationFreeText}) : lineItem.destinationName}}
                </td>
                <td>
                    {{vm.getReason(lineItem.reason)}}
                </td>
                <td style="text-align: right;">{{lineItem.movementQuantity}}</td>
                <td style="text-align: right;">{{lineItem.productSoh}}</td>
                <td>{{lineItem.documentNumber}}</td>
                <td>{{lineItem.signature}}</td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
