<h2>{{'requisitionInitiate.initiateReportAndRequisition' | message}}</h2>
<div ng-if="vm.error" class="alert is-error" ng-show="vm.error">{{vm.error}}</div>
<!-- SIGLUS-REFACTOR: starts here -->
<div class="requisition-tab-container">
<!-- SIGLUS-REFACTOR: ends here -->
    <form class="sidebar" ng-submit="vm.loadPeriods()" on-form-error="vm.getErrorMsg()">
        <openlmis-facility-program-select
                is-supervised="vm.isSupervised"
                facility="vm.facility"
                program="vm.program"
                module="'requisition-initiate'">
        </openlmis-facility-program-select>
        <fieldset class="form-group">
            <legend>{{'requisitionInitiate.type' | message}}</legend>
            <label class="radio">
                <input type="radio" ng-model="vm.emergency" ng-value="false" />
                {{'requisitionInitiate.regular' | message}}
            </label>
            <label class="radio">
                <input type="radio" ng-model="vm.emergency" ng-value="true" />
                {{'requisitionInitiate.emergency' | message}}
            </label>
        </fieldset>
        <input type="submit" value="{{'requisitionInitiate.search'|message}}"/>
    </form>
<!-- SIGLUS-REFACTOR: starts here -->
    <div class="requisition-table-tab">
        <nav>
            <ul class="table-tab-ul">
                <li class="table-tab-li"
                    ng-class="{'active': vm.isRequisition()}" ng-click="vm.goToRequisition()">
                    {{'requisitionInitiate.requisition' | message}}
                </li>
                <li class="table-tab-li"
                    ng-class="{'active': vm.isHistory()}" ng-click="vm.goToHistory()">
                    {{'requisitionInitiate.history' | message}}
                </li>
                <li class="table-tab-li"
                    ng-if="vm.createForClient" ng-class="{'active': vm.isCreateForClient()}" ng-click="vm.goToCreateForClient()">
                    {{'requisitionInitiate.createForClient' | message}}
                </li>
            </ul>
        </nav>
        <div ui-view></div>
    </div>
</div>
<!-- SIGLUS-REFACTOR: ends here -->
