<h2>{{'requisitionInitiate.initiateReportAndRequisition' | message}}</h2>
<div ng-if="vm.error" class="alert is-error" ng-show="vm.error">{{vm.error}}</div>
<!-- SIGLUS-REFACTOR: starts here -->
<div class="requisition-tab-container">
<!-- SIGLUS-REFACTOR: ends here -->
    <form class="sidebar" ng-submit="vm.loadPeriods()">
        <openlmis-facility-program-select
                is-supervised="vm.isSupervised"
                facility="vm.facility"
                program="vm.program"
                module="'requisition-initiate'">
        </openlmis-facility-program-select>
        <!-- SIGLUS-REFACTOR: starts here -->
        <fieldset class="form-group" ng-if="!vm.isUsageReport()">
        <!-- SIGLUS-REFACTOR: ends here -->
            <legend>{{'requisitionInitiate.type' | message}}</legend>
            <label class="radio">
                <input type="radio" ng-model="vm.emergency" ng-value="false" />
                {{'requisitionInitiate.regular' | message}}
            </label>
            <label class="radio">
                <input type="radio" ng-model="vm.emergency" ng-value="true" />
                {{'requisitionInitiate.emergency' | message}}
            </label>
        </fieldset>
        <!-- SIGLUS-REFACTOR: starts here -->
        <fieldset class="form-group disabled" ng-if="vm.isUsageReport()">
            <legend>{{'requisitionInitiate.type' | message}}</legend>
            <label class="radio">
                <input type="radio" ng-value="false" disabled />
                {{'requisitionInitiate.regular' | message}}
            </label>
            <label class="radio">
                <input type="radio" ng-value="false" disabled />
                {{'requisitionInitiate.emergency' | message}}
            </label>
        </fieldset>
        <input type="submit" value="{{'requisitionInitiate.search'|message}}"/>
    </form>
    <div class="requisition-table-tab">
        <nav>
            <ul>
                <li ng-class="{'active': vm.isRequisition()}" ng-click="vm.goToRequsition()">
                    {{'requisitionInitiate.requisition' | message}}
                </li>
                <li ng-class="{'active': vm.isHistory()}" ng-click="vm.goToHistory()">
                    {{'requisitionInitiate.history' | message}}
                </li>
            </ul>
        </nav>
        <div ui-view></div>
    </div>
</div>
<!-- SIGLUS-REFACTOR: ends here -->
