<section class="openlmis-table-container">
    <table>
        <caption ng-if="!vm.periods.length">
            {{'requisitionInitiate.selectRequiredFields' | message}}
        </caption>
        <thead>
        <tr>
            <th>{{'requisitionInitiate.periods' | message}}</th>
            <th>{{'requisitionApproval.periodDuration' | message}}</th>
            <th>{{'requisitionApproval.actualPeriod' | message}}</th>
            <th>{{'requisitionInitiate.submitDuration' | message}}</th>
            <th>{{'requisitionInitiate.status' | message}}</th>
            <th class="col-sticky sticky-right">{{'requisitionInitiate.actions' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(idx, period) in vm.periods">
            <td>{{period.name}}</td>

            <td>{{period.startDate | openlmisDate}} - {{period.endDate | openlmisDate}}</td>
            <td>{{
                period.requisitionExtraData.actualStartDate
                        ? ((period.requisitionExtraData.actualStartDate | openlmisDate) + ' - ' + (period.requisitionExtraData.actualEndDate | openlmisDate))
                        : 'N/A'
                }}
            </td>
            <td>{{period.submitStartDate | openlmisDate}} - {{period.submitEndDate | openlmisDate}}</td>
            <td>{{period.rnrStatus | requisitionStatus}}</td>
            <td ng-if="vm.checkProceedButton(period, idx)">
                <input id="proceedButton" type="button" ng-click="vm.initRnr(period)"
                       value="{{'requisitionInitiate.proceed'| message}}" class="primary"
                       ng-if="period.activeForRnr && !vm.periodHasRequisition(period) && vm.canInitiateRnr && vm.checkSubmitDuration(period)"/>
                <input id="proceedButton" type="button" ng-click="vm.goToRequisition(period.rnrId)"
                       value="{{'requisitionInitiate.proceed'| message}}" class="primary"
                       ng-if="period.activeForRnr && vm.periodHasRequisition(period)"/>
            </td>
            <td ng-if="!vm.checkProceedButton(period, idx)"></td>
        </tr>
        </tbody>
    </table>
</section>
