<header>
    <h2>{{'stockPhysicalInventoryHistory.title' | message: {'programName': vm.historyData.program, 'facilityName': vm.historyData.healthFacility} }}</h2>
    <button ng-disabled="vm.isOffline()" ng-click="vm.print()" class="primary">{{'requisitionView.print' | message}}</button>
</header>
<ng-include src="'siglus-physical-inventory-history-detail/header.html'"></ng-include>

<div class="view-tab">
    <div class="openlmis-table-container">
        <table>
            <thead>
                <tr>
                    <th>{{ 'stockPhysicalInventoryHistory.productCode' | message }}</th>
                    <th>{{ 'stockPhysicalInventoryHistory.product' | message }}</th>
                    <th>{{ 'stockPhysicalInventoryHistory.lotCode' | message }}</th>
                    <th>{{ 'stockPhysicalInventoryHistory.expiryDate' | message }}</th>
                    <th ng-if="vm.historyData.withLocation">{{ 'stockPhysicalInventoryHistory.location' | message }}</th>
                    <th>{{ 'stockPhysicalInventoryHistory.stockOnHand' | message }}</th>
                    <th>{{ 'stockPhysicalInventoryHistory.currentStock' | message }}</th>
                    <th>{{ 'stockPhysicalInventoryHistory.reasons' | message }}</th>
                    <th>{{ 'stockPhysicalInventoryHistory.comments' | message }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.historyData.lineItemsData">
                    <td>{{ item.productCode }}</td>
                    <td>{{ item.productName }}</td>
                    <td>{{ item.lotCode }}</td>
                    <td>{{ vm.formatDate(item.expirationDate) }}</td>
                    <td ng-if="vm.historyData.withLocation">{{ item.location }}</td>
                    <td>{{ item.stockOnHand }}</td>
                    <td>{{ item.currentStock }}</td>
                    <td class="reasons-cell">
                        <p>{{ item.reasons ? item.reasons.reason : '' }}</p>
                        <p ng-style="{'color' : 'red'}">{{ item.reasons ? vm.service.buildDiffReasonMessage(item) : '' }}</p>
                    </td>
                    <td>{{ item.comments }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="openlmis-toolbar button-group">
    <siglus-go-back />
</div>

