table.openlmis-table.al-report {
    th {
        background-color: #fff;
        background-image: none;
        color: #000;
    }

    thead tr:nth-child(1) th:nth-child(1) {
        border-bottom: #ddd 1px solid;
        width: 70px;
    }

    thead tr:nth-last-child(1) th {
        min-width: 100px;
        max-width: 160px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        border-bottom: #ddd 1px solid;
        font-weight: normal;

        &:nth-child(1) {
            border-left: #ddd 1px solid;
        }
    }

    tbody tr:nth-last-child(1) td:nth-child(1) {
        background-color: #f0f0f0;
    }

    th.border-left, td.border-left {
        border-left: #DDD 4px solid;
    }
}
