<table class="openlmis-table" suppress-tr-openlmis-invalid>
    <caption ng-if="!vm.lineItems.length">{{'requisitionReportModule.noItems' | message}}</caption>
    <thead>
    <tr>
        <th>{{'requisitionReportModule.product.productCode' | message}}</th>
        <th>{{'requisitionReportModule.product.productName' | message}}</th>
        <th>{{'requisitionReportModule.product.unitIssue' | message}}</th>
        <th>{{'requisitionReportModule.product.initialAmount' | message}}</th>
        <th>{{'requisitionReportModule.product.entries' | message}}</th>
        <th>{{'requisitionReportModule.product.issues' | message}}</th>
        <th>{{'requisitionReportModule.product.adjustment' | message}}</th>
        <th>{{'requisitionReportModule.product.inventory' | message}}</th>
        <th>{{'requisitionReportModule.product.expiration' | message}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in vm.lineItems | orderBy : 'orderable.productCode'">
        <td>{{item.orderable.productCode}}</td>
        <td>{{item.orderable.fullProductName}}</td>
        <td>{{item.orderable.dispensable.dispensingUnit}}</td>
        <td class="text-align-right">{{item.beginningBalance}}</td>
        <td class="text-align-right">{{item.totalReceivedQuantity}}</td>
        <td class="text-align-right" ng-if="vm.readOnly">{{item.totalConsumedQuantity}}</td>
        <td ng-if="!vm.readOnly">
            <input ng-model="item.totalConsumedQuantity" ng-blur="vm.validateTotalConsumedQuantity(item)" ng-required="item.isRequiredTotalConsumedQuantity" positive-integer maxlength="8">
        </td>
        <td class="text-align-right" ng-if="vm.readOnly">{{item.totalLossesAndAdjustments}}</td>
        <td ng-if="!vm.readOnly">
            <input ng-model="item.totalLossesAndAdjustments" ng-blur="vm.validateTotalLossesAndAdjustments(item)" ng-required="item.isRequiredTotalLossesAndAdjustments" positive-integer maxlength="8">
        </td>
        <td class="text-align-right" ng-if="vm.readOnly">{{item.stockOnHand}}</td>
        <td ng-if="!vm.readOnly">
            <input ng-model="item.stockOnHand" ng-blur="vm.validateStockOnHand(item)" ng-required="item.isRequiredStockOnHand" positive-integer maxlength="8">
        </td>
        <td>{{item.expirationDate | openlmisDate}}</td>
    </tr>
    </tbody>
</table>
