<table class="openlmis-table" suppress-tr-openlmis-invalid>
    <caption ng-if="!vm.lineItems.length">{{'requisitionReportModule.noItems' | message}}</caption>
    <thead>
    <tr>
        <th>{{'requisitionReportModule.regiment.productCode' | message}}</th>
        <th>{{'requisitionReportModule.regiment.productName' | message}}</th>
        <th>{{'requisitionReportModule.regiment.totalPatients' | message}}</th>
        <th>{{'requisitionReportModule.regiment.communityPharmacy' | message}}</th>
        <th ng-if="!vm.readOnly" class="min-cel-width">{{'requisitionReportModule.actions' | message}}</th>
    </tr>
    </thead>
    <tbody ng-if="!vm.readOnly">
    <tr ng-repeat-start="category in vm.category">
        <td colspan="5" class="regime-total">{{category.name}}</td>
    </tr>
    <tr ng-repeat-start="item in vm.lineItems | orderBy : ['regimen.regimenDispatchLine.name', 'regimen.name']"
        ng-if="(item.regimen.regimenCategory.code === category.code) && !item.regimen.isCustom" ng-repeat-end>
        <td>{{(item.regimen.regimenDispatchLine.name).slice(0, -1)}}</td>
        <td>{{item.regimen.name}}</td>
        <td class="text-align-right" ng-if="vm.readOnly">{{item.hfPatients}}</td>
        <td ng-if="!vm.readOnly">
            <input ng-model="item.hfPatients" positive-integer maxlength="8" ng-blur="vm.validateHFPatients(item)" ng-required="item.isRequiredHFPatients">
        </td>
        <td class="text-align-right" ng-if="vm.readOnly">{{item.chwPatients}}</td>
        <td ng-if="!vm.readOnly">
            <input ng-model="item.chwPatients" positive-integer maxlength="8" ng-blur="vm.validateCHWPatients(item)" ng-required="item.isRequiredCHWPatients">
        </td>
        <td ng-if="item.regimen.isCustom" class="align-center">
            <button class="danger" ng-click="vm.removeRegime(item)">{{'requisitionReportModule.remove' | message}}</button>
        </td>
        <td ng-if="!item.regimen.isCustom"></td>
    </tr>
    <tr ng-repeat-start="item in vm.lineItems | orderBy : ['regimen.name']"
        ng-if="(item.regimen.regimenCategory.code === category.code) && item.regimen.isCustom" ng-repeat-end>
        <td>{{item.regimen.regimenDispatchLine.name}}</td>
        <td>{{item.regimen.name}}</td>
        <td class="text-align-right" ng-if="vm.readOnly">{{item.hfPatients}}</td>
        <td ng-if="!vm.readOnly">
            <input ng-model="item.hfPatients" positive-integer maxlength="8" ng-blur="vm.validateHFPatients(item)" ng-required="item.isRequiredHFPatients">
        </td>
        <td class="text-align-right" ng-if="vm.readOnly">{{item.chwPatients}}</td>
        <td ng-if="!vm.readOnly">
            <input ng-model="item.chwPatients" positive-integer maxlength="8" ng-blur="vm.validateCHWPatients(item)" ng-required="item.isRequiredCHWPatients">
        </td>
        <td ng-if="item.regimen.isCustom" class="align-center">
            <button class="danger" ng-click="vm.removeRegime(item)">{{'requisitionReportModule.remove' | message}}</button>
        </td>
        <td ng-if="!item.regimen.isCustom"></td>
    </tr>
    <tr ng-repeat-end>
        <td colspan="5">
            <button class="add" ng-click="vm.addRegimen(category.code)">{{'requisitionReportModule.regiment.addRegime' | message}}</button>
        </td>
    </tr>
    <tr class="text-align-right" ng-if="vm.lineItems.length">
        <td colspan="2" class="regime-total">{{'requisitionReportModule.total' | message}}</td>
        <td>{{vm.calculateTotal(vm.lineItems, 'hfPatients')}}</td>
        <td>{{vm.calculateTotal(vm.lineItems, 'chwPatients')}}</td>
        <td></td>
    </tr>
    </tbody>
    <tbody ng-if="vm.readOnly && vm.lineItems.length">
    <tr ng-repeat-start="category in vm.category">
        <td colspan="4" class="regime-total">{{category.name}}</td>
    </tr>
    <tr ng-repeat="item in vm.lineItems | orderBy : ['regimen.regimenDispatchLine.name', 'regimen.name']"
        ng-if="(item.regimen.regimenCategory.code === category.code)" ng-repeat-end>
        <td>{{item.regimen.regimenDispatchLine.name}}</td>
        <td>{{item.regimen.name}}</td>
        <td class="text-align-right">{{item.hfPatients}}</td>
        <td class="text-align-right">{{item.chwPatients}}</td>
    </tr>
    <tr class="text-align-right">
        <td colspan="2" class="regime-total">{{'requisitionReportModule.total' | message}}</td>
        <td>{{vm.calculateTotal(vm.lineItems, 'hfPatients')}}</td>
        <td>{{vm.calculateTotal(vm.lineItems, 'chwPatients')}}</td>
    </tr>
    </tbody>
</table>