<div class="openlmis-table-container rapid-test-product-table">
    <div class="openlmis-flex-table">
        <table suppress-tr-openlmis-invalid>
            <caption ng-if="!vm.lineItems.length">{{'requisitionReportModule.noItems' | message}}</caption>
            <div class="table-header">{{'requisitionReportModule.rapidTest.productHeader' | message}}</div>
            <thead>
                <tr>
                    <th class="static-thread">{{'requisitionReportModule.rapidTest.productCode' | message}}</th>
                    <th class="static-thread">{{'requisitionReportModule.rapidTest.productName' | message}}</th>
                    <th class="static-thread">{{'requisitionReportModule.rapidTest.initialStock' | message}}</th>
                    <th class="static-thread">{{'requisitionReportModule.rapidTest.entries' | message}}</th>
                    <th class="static-thread">{{'requisitionReportModule.rapidTest.issues' | message}}</th>
                    <th class="static-thread">{{'requisitionReportModule.rapidTest.lossAndAdjustment' | message}}</th>
                    <th class="static-thread">{{'requisitionReportModule.rapidTest.inventory' | message}}</th>
                    <th class="static-thread">{{'requisitionReportModule.rapidTest.expiration' | message}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lineItem in vm.lineItems | orderBy : 'orderable.productCode'">
                    <td>{{lineItem.orderable.productCode}}</td>
                    <td>{{lineItem.orderable.fullProductName}}</td>
                    <td ng-if="vm.isFirstReport && !vm.readOnly">
                        <input  ng-model="lineItem.beginningBalance" ng-blur="vm.validateBeginningBalance(lineItem)" positive-integer maxlength="8" ng-required="lineItem.isRequiredBeginningBalance">
                    </td>
                    <td ng-if="!vm.isFirstReport || vm.readOnly">
                        <div class="text-align-right">{{lineItem.beginningBalance}}</div>
                    </td>
                    <td class="text-align-right">{{lineItem.totalReceivedQuantity}}</td>
                    <td class="text-align-right">{{lineItem.totalConsumedQuantity}}</td>
                    <td class="text-align-right">{{lineItem.totalLossesAndAdjustments}}</td>
                    <td ng-if="!vm.readOnly">
                        <input ng-model="lineItem.stockOnHand" ng-blur="vm.validateStockOnHand(lineItem)" positive-integer maxlength="8" ng-required="lineItem.isRequiredSOH">
                    </td>
                    <td ng-if="vm.readOnly">
                        <div class="text-align-right">{{lineItem.stockOnHand}}</div>
                    </td>
                    <td class="text-align-right">{{lineItem.expirationDate | openlmisDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>