<!-- SIGLUS-REFACTOR: starts here -->
<div class="view-tab" suppress-tr-openlmis-invalid>
    <header class="sub-heading">
        <h3>{{'requisitionViewTab.products' | message}}</h3>
        <button ng-if="vm.showQuicklyFill()" ng-click="vm.quicklyFillHandler()" class="primary">
            {{'requisitionViewTab.quicklyFill' | message}}
        </button>
    </header>
    <siglus-consultation-number
            sections="vm.requisition.usageTemplate.consultationNumber"
            line-items="vm.requisition.consultationNumberLineItems"
            can-edit="vm.userCanEdit"
            is-emergency="vm.requisition.emergency"
            ng-if="vm.requisition.template.extension.enableConsultationNumber && !vm.requisition.emergency"
    ></siglus-consultation-number>
    <kit-usage sections="vm.requisition.usageTemplate.kitUsage"
               line-items="vm.requisition.kitUsageLineItems"
               can-edit="vm.userCanEdit"
               ng-if="vm.requisition.template.extension.enableKitUsage && !vm.requisition.emergency"></kit-usage>
    <div class="toolbar-wrapper" ng-class="{'has-skipbar' : vm.requisition.template.extension.enableProduct && vm.showSkipControls}">
        <div class="toolbar skipbar" ng-if="vm.requisition.template.extension.enableProduct && vm.showSkipControls">
            <h4>{{'requisitionViewTab.skip' | message}}</h4>
            <ul>
                <li><a ng-click="vm.requisition.skipAllLineItems()">{{'requisitionViewTab.all' | message}}</a></li>
                <li><a ng-click="vm.requisition.unskipAllLineItems()">{{'requisitionViewTab.none' | message}}</a></li>
            </ul>
        </div>
        <button class="add" tabindex="-1"
                ng-if="vm.requisition.template.extension.enableProduct && vm.showAddProducts"
                ng-disabled="vm.requisition.emergency && vm.requisition.requisitionLineItems.length >= 10 || vm.isOffline()"
                ng-click="vm.siglusAddProducts()"
        >
            {{'requisitionViewTab.addProduct' | message}}
        </button>
    </div>
    <div class="openlmis-table-container requisition-product" ng-if="vm.requisition.template.extension.enableProduct">
        <form class="openlmis-table-filters">
            <fieldset>
                <label for="search">{{'stockIssueCreation.keyword' | message}}</label>
                <input id="search" type="text" ng-model="vm.keyword" maxlength="50"/>
            </fieldset>

            <input id="close-filters" type="button" value="{{'openlmisTableFilter.cancel' | message}}"
                   ng-click="vm.cancelFilter()"/>
            <input type="submit"
                   ng-click="vm.search()"
                   ng-keydown="$event.keyCode === 13 && vm.search()"
                   value="{{'stockReceiveCreation.search' | message}}"/>
        </form>
<!-- SIGLUS-REFACTOR: ends here -->
        <table>
            <caption ng-if="!vm.items.length">{{vm.noProductsMessage | message}}</caption>
            <thead>
            <tr>
                <th class="col-{{column.name}}" ng-repeat="column in vm.columns | orderBy : 'displayOrder'"
                    ng-class="{'col-sticky': !column.$canChangeOrder}" popover="{{vm.getDescriptionForColumn(column)}}"
                    popover-trigger-area="element">{{column.label}}</th>
                <th class="col-sticky sticky-right" ng-if="vm.showDeleteColumn()"></th>
            </tr>
            </thead>
            <tbody ng-repeat="(category, lineItems) in vm.items | groupBy:'$program.orderableCategoryDisplayName'" tbody-title="{{category}}">
            <tr ng-repeat="lineItem in lineItems | orderBy : '$program.displayOrder'" ng-class="{'skipped-line-item' : lineItem.skipped}">
                <td ng-repeat="column in vm.columns | orderBy : 'displayOrder'"
                    product-grid-cell
                    requisition="vm.requisition"
                    column="column"
                    line-item="lineItem"
                    user-can-edit="vm.userCanEdit"
                    can-approve="vm.canApproveAndReject">
                </td>
                <td ng-if="vm.showDeleteColumn()">
                    <button class="hide-line-item"
                            ng-click="vm.deleteLineItem(lineItem)"
                            ng-if="lineItem.$deletable">
                        <i class="fa fa-remove"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <openlmis-pagination
                list="vm.lineItems"
                paged-list="vm.items"
                pagination-id="vm.paginationId"
                on-page-change="vm.cacheRequisition"></openlmis-pagination>
    </div>
    <siglus-regimen sections="vm.requisition.usageTemplate.regimen"
                    regimen-line-items="vm.requisition.regimenLineItems"
                    regimen-summary-line-items="vm.requisition.regimenSummaryLineItems"
                    custom-regimens="vm.requisition.customRegimens"
                    can-edit="vm.userCanEdit"
                    ng-if="vm.requisition.template.extension.enableRegimen && !vm.requisition.emergency"
    ></siglus-regimen>
    <usage-information sections="vm.requisition.usageTemplate.usageInformation"
               line-items="vm.requisition.usageInformationLineItems"
               processing-period-end-date="vm.requisition.processingPeriod.endDate"
               available-products="vm.requisition.availableFullSupplyProducts"
               added-products="vm.requisition.requisitionLineItems"
               can-edit="vm.userCanEdit"
               ng-if="vm.requisition.template.extension.enableUsageInformation && !vm.requisition.emergency"></usage-information>
    <!-- #399: Facility user can create requisition with patient section-->
    <siglus-patient sections="vm.requisition.usageTemplate.patient"
                    line-items="vm.requisition.patientLineItems"
                    can-edit="vm.userCanEdit"
                    ng-if="vm.requisition.template.extension.enablePatient && !vm.requisition.emergency"
    ></siglus-patient>
    <!-- #399: ends here-->
    <!-- #375: create requisition with test consumption section -->
    <siglus-test-consumption
            program="vm.program"
            sections="vm.requisition.usageTemplate.rapidTestConsumption"
            line-items="vm.requisition.testConsumptionLineItems"
            can-edit="vm.userCanEdit"
            ng-if="vm.requisition.template.extension.enableRapidTestConsumption && !vm.requisition.emergency"
    ></siglus-test-consumption>
    <!-- #375: ends here -->

    <!-- to13 #149: create requisition with age group section -->
    <siglus-age-group
            program="vm.program"
            sections="vm.requisition.usageTemplate.ageGroup"
            line-items="vm.requisition.ageGroupLineItems"
            can-edit="vm.userCanEdit"
            ng-if="vm.requisition.template.extension.enableAgeGroup && !vm.requisition.emergency"
    ></siglus-age-group>
    <!-- to13 #149: ends here -->
</div>
