<header>
    <h2>{{'requisitionView.reportAndRequisitionFor' | message}} {{vm.program.name}} ({{vm.facility.type.name}})</h2>
    <!--<button ng-disabled="vm.isOffline()" ng-click="vm.syncRnrAndPrint()" class="primary">{{'requisitionView.print' | message}}</button>-->
</header>
<ng-include src="'requisition-view/header.html'"></ng-include>
<status-messages requisition="vm.requisition"></status-messages>

<div class="view-tab">
    <header class="sub-heading">
        <h3>{{'requisitionViewTab.products' | message}}</h3>
    </header>
    <div class="openlmis-table-container requisition-consultation-number fix-height" ng-if="vm.requisition.template.extension.enableConsultationNumber && !vm.requisition.emergency">
        <table class="openlmis-table">
            <tbody>
            <tr class="text-center">
                <td colspan="2">{{'requisitionViewTab.normalRequisition' | message}}</td>
            </tr>
            <tr>
                <td>{{'requisitionViewTab.externalConsultationPerformedNo' | message}}</td>
                <td class="text-align-right">
                    {{vm.requisition.extraData.consultationNumber}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <kit-usage sections="vm.requisition.usageTemplate"
               line-items="vm.requisition.kitUsageLineItems"
               can-edit="false"
               ng-if="vm.requisition.template.extension.enableKitUsage && !vm.requisition.emergency"/>
    <div class="openlmis-table-container" ng-if="vm.requisition.template.extension.enableProduct">
        <table>
            <caption ng-if="!vm.items.length">{{vm.noProductsMessage | message}}</caption>
            <thead>
            <tr>
                <th class="col-{{column.name}}" ng-repeat="column in vm.columns | orderBy : 'displayOrder'"
                    ng-class="{'col-sticky': !column.$canChangeOrder}" popover="{{vm.getDescriptionForColumn(column)}}"
                    popover-trigger-area="element">{{column.label}}</th>
                <th class="col-sticky sticky-right" ng-if="vm.showDeleteColumn()"></th>
            </tr>
            </thead>
            <tbody ng-repeat="(category, lineItems) in vm.items | groupBy:'$program.orderableCategoryDisplayName'" tbody-title="{{category}}">
            <tr ng-repeat="lineItem in lineItems | orderBy : '$program.displayOrder'" ng-class="{'skipped-line-item' : lineItem.skipped}">
                <td ng-repeat="column in vm.columns | orderBy : 'displayOrder'"
                    product-grid-cell
                    requisition="vm.requisition"
                    column="column"
                    line-item="lineItem"
                    user-can-edit="vm.userCanEdit"
                    can-approve="vm.canApproveAndReject"
                    is-history="true"
                >
                </td>
                <td ng-if="vm.showDeleteColumn()">
                    <button class="hide-line-item"
                            ng-click="vm.deleteLineItem(lineItem)"
                            ng-if="lineItem.$deletable">
                        <i class="fa fa-remove"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <openlmis-pagination
                list="vm.lineItems"
                paged-list="vm.items"/>
    </div>
</div>
