<div class="view-tab openlmis-table-container">
    <!-- SIGLUS-REFACTOR: starts here -->
    <div class="row">
        <div class="main">
            <div class="toolbar">
                <header>
                    <h3>{{'requisitionViewTab.products' | message}}</h3>
                    <button class="add" ng-disabled="vm.requisition.emergency && vm.requisition.requisitionLineItems.length >= 10" ng-click="vm.addFullSupplyProducts()" >{{'requisitionViewTab.addProduct' | message}}</button>
                </header>
                <span ng-if="vm.showAddFullSupplyProductControls">
                    {{ vm.skippedFullSupplyProductCountMessage() }}
                </span>
            </div>
            <div class="openlmis-flex-table">
                <table class="left-sub-table" ng-if="vm.requisition.template.extension.enableConsultationNumber && !vm.requisition.emergency">
                    <tbody>
                    <tr class="center-item">
                        <td colspan="2">{{'requisitionViewTab.normalRequisition' | message}}</td>
                    </tr>
                    <tr>
                        <td class="cell-text">{{'requisitionViewTab.externalConsultationPerformedNo' | message}}</td>
                        <td ng-if="vm.userCanEdit">
                            <input positive-integer ng-model="vm.requisition.extraData.consultationNumber" maxlength="8" required />
                        </td>
                        <td ng-if="!vm.userCanEdit" class="text-align-right">
                            {{vm.requisition.extraData.consultationNumber}}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="right-sub-table" ng-if="vm.requisition.template.extension.enableKitUsage && !vm.requisition.emergency">
                    <tbody>
                    <tr>
                        <td class="table-column-first">{{'requisitionViewTab.receivedKitNo' | message}}</td>
                        <td class="table-column-second">HF</td>
                        <td class="ng-binding ng-scope table-column-third">{{vm.requisition.extraData.receivedKitByHF}}</td>
                        <td class="table-column-second">CHW</td>
                        <td class="ng-binding ng-scope table-column-third">{{vm.requisition.extraData.receivedKitByCHW}}</td>
                    </tr>
                    <tr>
                        <td>{{'requisitionViewTab.openedKitNo' | message}}</td>
                        <td>HF</td>
                        <td class="ng-binding ng-scope text-align-right">{{vm.requisition.extraData.openedKitByHF}}</td>
                        <td>CHW</td>
                        <td class="ng-binding ng-scope text-align-right">{{vm.requisition.extraData.openedKitByCHW}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="openlmis-flex-table" ng-if="vm.requisition.template.extension.enableProduct">
    <!-- SIGLUS-REFACTOR: ends here -->
                <table>
                    <caption ng-if="!vm.items.length">{{vm.noProductsMessage | message}}</caption>
                    <thead>
                    <tr>
                        <th class="col-{{column.name}}" ng-repeat="column in vm.columns | orderBy : 'displayOrder'"
                            ng-class="{'col-sticky': !column.$canChangeOrder}" popover="{{vm.getDescriptionForColumn(column)}}"
                            popover-trigger-area="element">{{column.label}}</th>
                        <th class="col-sticky sticky-right" ng-if="vm.showDeleteColumn()"></th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="(category, lineItems) in vm.items | groupBy:'$program.orderableCategoryDisplayName'" tbody-title="{{category}}">
                    <tr ng-repeat="lineItem in lineItems | orderBy : '$program.displayOrder'" ng-class="{'skipped-line-item' : lineItem.skipped}">
                        <td ng-repeat="column in vm.columns | orderBy : 'displayOrder'"
                            product-grid-cell
                            requisition="vm.requisition"
                            column="column"
                            line-item="lineItem"
                            user-can-edit="vm.userCanEdit"
                            can-approve="vm.canApproveAndReject">
                        </td>
                        <td ng-if="vm.showDeleteColumn()">
                            <button class="hide-line-item"
                                    ng-click="vm.deleteLineItem(lineItem)"
                                    ng-if="lineItem.$deletable">
                                <i class="fa fa-remove"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <openlmis-pagination
                        list="vm.lineItems"
                        paged-list="vm.items"
                        pagination-id="vm.paginationId"
                        on-page-change="vm.cacheRequisition"/>
            </div>
        </div>
    </div>
</div>
