.view-tab {
    margin-bottom: 3em;
    .requisition-product-grid-cell.has-popover {
        padding-right: $table-cell-padding !important;
    }
    .openlmis-table-container.requisition-product>.row>.main>.toolbar {
        padding-top: 0;
    }
    .toolbar-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }
    .toolbar-wrapper.has-skipbar {
        justify-content: space-between;
        align-items: center;
    }
}

#productForm .error {
    color: #b24c4b;
}

.text-center {
    text-align: center;
}
