.view-tab {
    margin-bottom: 3em;
    .requisition-product-grid-cell.has-popover {
        padding-right: $table-cell-padding !important;
    }
    .skipbar {
        margin-top: 1.5em;
    }
    .skipbar + .openlmis-table-container.requisition-product>.row>.main>.toolbar {
        padding-top: 0;
    }
}

#productForm .error {
    color: #b24c4b;
}

.text-center {
    text-align: center;
}
