<div class="modal template-add" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- SIGLUS-REFACTOR: starts here -->
                <h1>{{'adminTemplateAdd.addTemplate' | message}}</h1>
                <!-- SIGLUS-REFACTOR: ends here -->
            </div>
            <div class="modal-body">
                <form id="template-form" ng-submit="vm.create()">
                    <label for="name">{{'adminTemplateAdd.name' | message}}</label>
                    <input type="text" id="name" ng-model="vm.template.name" required/>
                    <label for="program">{{'adminTemplateAdd.program' | message}}</label>
                    <!-- #163: add associate program -->
                    <select id="program" ng-model="vm.template.program" ng-change="vm.populateProgramRelatedVariable()"
                            ng-options="program.name for program in vm.programs" required>
                    </select>
                    <!-- #163: ends here -->
                </form>
                <div><label for="facilityType">{{'adminTemplateAdd.facilityType' | message}}</label>
                    <p class="note">{{'adminTemplateAdd.programNeedsToBeSelected' | message}}</p></div>
                <form class="form-inline" ng-submit="vm.addFacilityType()" reload-form>
                    <div>
                        <label for="facilityType">{{'adminTemplateAdd.facilityType' | message}}</label>
                        <select id="facilityType" ng-model="vm.selectedFacilityType"
                                ng-options="facilityType.name for facilityType in vm.facilityTypes | orderBy: 'name'"
                                ng-disabled="!vm.template.program"
                                openlmis-invalid="{{vm.validateFacilityType() | message}}" required>
                        </select>
                    </div>
                    <button type="submit" class="add">
                        {{'adminTemplateAdd.addFacilityType' | message}}
                    </button>
                </form>
                <section class="openlmis-table-container">
                    <table>
                        <caption ng-if="!vm.template.facilityTypes.length">
                            {{'adminTemplateAdd.noFacilityTypesAdded' | message}}
                        </caption>
                        <thead>
                        <tr>
                            <th>{{'adminTemplateAdd.facilityTypeName' | message}}</th>
                            <th>{{'adminTemplateAdd.actions' | message}}</th>
                        </tr>
                        </thead>
                        <tbody ng-if="vm.template.facilityTypes.length">
                        <tr ng-repeat="facilityType in vm.template.facilityTypes">
                            <td>{{facilityType.name}}</td>
                            <td>
                                <button class="danger" ng-click="vm.removeFacilityType(facilityType)">
                                    {{'adminTemplateAdd.remove' | message}}
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
                <!-- #163: add associate program -->
                <div>
                    <label for="associateProgram">{{'adminTemplateAdd.associateProgram' | message}}</label>
                    <p class="note">{{'adminTemplateAdd.associateProgramNeedsToBeSelected' | message}}</p>
                </div>
                <form class="form-inline" ng-submit="vm.addAssociateProgram()" reload-form>
                    <div>
                        <label for="associateProgram">{{'adminTemplateAdd.associateProgram' | message}}</label>
                        <select id="associateProgram" ng-model="vm.selectedAssociateProgram"
                                ng-options="associateProgram.name for associateProgram in vm.associatePrograms | orderBy: 'name'"
                                ng-disabled="!vm.template.program">
                        </select>
                    </div>
                    <button type="submit" class="add">
                        {{'adminTemplateAdd.addAssociateProgram' | message}}
                    </button>
                </form>
                <section class="openlmis-table-container">
                    <table>
                        <caption ng-if="!vm.template.associatePrograms.length">
                            {{'adminTemplateAdd.noAssociateProgramsAdded' | message}}
                        </caption>
                        <thead>
                        <tr>
                            <th>{{'adminTemplateAdd.associateProgram' | message}}</th>
                            <th>{{'adminTemplateAdd.actions' | message}}</th>
                        </tr>
                        </thead>
                        <tbody ng-if="vm.template.associatePrograms.length">
                        <tr ng-repeat="associateProgram in vm.template.associatePrograms">
                            <td>{{associateProgram.name}}</td>
                            <td>
                                <button class="danger" ng-click="vm.removeAssociateProgram(associateProgram)">
                                    {{'adminTemplateAdd.remove' | message}}
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
                <!-- #163: ends here -->
            </div>
            <div class="modal-footer">
                <button id="cancel" ui-sref="^">{{'adminTemplateAdd.cancel' | message}}</button>
                <!-- SIGLUS-REFACTOR: starts here -->
                <button class="primary" type="submit" form="template-form">{{'adminTemplateAdd.confirm' |
                    message}}
                </button>
                <!-- SIGLUS-REFACTOR: ends here -->
            </div>
        </div>
    </div>
</div>
