<!--SIGLUS-REFACTOR: starts here-->
<h2 ng-if="vm.facility && vm.program">
  {{'stockPhysicalInventory.title' | message: {
  'facility': vm.facility.name, 'program': vm.program.name
} }}
</h2>
<h2 ng-hide="vm.facility && vm.program">{{'stockPhysicalInventory.physicalInventory'
| message}}</h2>

<form ng-submit="vm.searchProgram()" class="sidebar" id="physical-inventory-list-program-sidebar">
  <label for="selectProgram">{{'stockPhysicalInventory.program' | message}}</label>
  <select
      id="selectProgram"
      ng-model="vm.program"
      ng-options="p.name for p in vm.programs"
      placeholder="{{'stockPhysicalInventory.selectProgram' | message}}"
      required
  >
  </select>
  <input type="submit" value="{{'stockPhysicalInventory.search' | message}}"/>
</form>
<!--SIGLUS-REFACTOR: ends here-->

<section class="openlmis-table-container">
  <table>
    <!--        SIGLUS-REFACTOR: starts here-->
    <caption ng-if="vm.drafts.length===0">
      {{'stockPhysicalInventory.selectFirst' | message}}
    </caption>
    <!--        SIGLUS-REFACTOR: ends here-->
    <thead>
    <tr>
      <th style="min-width:160px">{{'stockPhysicalInventory.program' | message}}</th>
      <th style="min-width:160px">{{'stockPhysicalInventory.status' | message}}</th>
      <th class="col-sticky sticky-right">{{'stockPhysicalInventory.actions' | message}}</th>
    </tr>
    </thead>
    <tbody>
    <!--SIGLUS-REFACTOR: starts here-->
    <tr ng-if="vm.drafts.length > 0" ng-repeat="draft in vm.drafts">
      <!--SIGLUS-REFACTOR: ends here-->
      <td>{{vm.getProgramName(draft.programId)}}</td>
      <td>{{vm.getDraftStatus(draft.isStarter)}}</td>
      <td>
        <!--         SIGLUS-REFACTOR: starts here-->
        <!--        <input id="proceedButton" type="button" ng-click="vm.editDraft(draft)"-->
        <input id="proceedButton" type="button" ng-click="vm.validateDraftStatus(draft)"
               value="{{(draft.isStarter ? 'stockPhysicalInventory.start' : 'stockPhysicalInventory.continue') | message}}"
               class="primary fullwidth-primary-btn"/>
        <!--         SIGLUS-REFACTOR: ends here-->
      </td>
    </tr>
    </tbody>
  </table>
</section>
