<form style="justify-content: space-between;" id="add-program-form" class="form-inline" ng-submit="vm.addReport()" reload-form>
    <div class="form-group">
        <label for="program">{{'adminFacilityView.reports' | message}}</label>
        <select id="program" ng-model="vm.selectedReport"
            ng-options="program as program.reportName for program in vm.reports"
            required
        >
        </select>
    </div>
    <div class="form-group">
        <label for="start-date">{{'adminFacilityView.startDate' | message}}</label>
        <input id="start-date" type="date" ng-model="vm.selectedStartDate" required/>
    </div>
    <button type="submit" class="add">{{'adminFacilityView.add' | message}}</button>
</form>
<form id="associatedReports" class="openlmis-table-container" ng-submit="vm.saveFacilityWithReports()">
    <table>
        <caption ng-if="!vm.facilityWithPrograms.reportTypes || vm.facilityWithPrograms.reportTypes.length === 0">
            {{'adminFacilityView.noAssociatedPrograms' | message: {facility: vm.facility.name} }}
        </caption>
        <thead>
            <tr>
                <th>{{'adminFacilityView.reports' | message}}</th>
                <th>{{'adminFacilityView.active' | message}}</th>
                <th popover="{{'adminFacilityView.startDate.description' | message}}">{{'adminFacilityView.startDate' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="program in vm.facilityWithPrograms.reportTypes">
                <td>{{ vm.reportMap[program.programCode] }}</td>
                <td><input type="checkbox" ng-model="program.active"/></td>
                <td><input type="date" min-date="program.previousPeriodStartDateSinceRecentSubmit" ng-model="program.startDate"/></td>
            </tr>
        </tbody>
    </table>
</form>