input.lot-code {
    text-transform: uppercase;
}

::placeholder {
    text-transform: none;
}

.stock-actions {
    // width: 115px!important;
}

.stock-actions + .stock-actions {
    margin-top: 8px;
}

.location-td {
    display: flex;
    div:nth-child(1) {
        margin-right: 8px;
    }
}