.location-movement-area {
  display: flex;
}

.location-movement-area .input-control:first-child {
  flex: 1;
  margin-right: 12px;
}

.location-movement-area .input-control:last-child {
  min-width: 110px;
}

#locationMovementForm  tr:first-child>td {
  border-top-width: 1px;
}

#locationMovementForm  input.number {
  text-align: left;
}



#locationMovementForm input[disabled] {
  cursor: not-allowed;
}
