<h2>{{vm.facility.code}} - {{vm.facility.name}} - Todos os produtos</h2>

<div>
    <section id="locationMovementForm" class="openlmis-table-container">
        <form ng-submit="vm.searchList()">
            <fieldset>
                <label for="search">{{'stockReceiveCreation.keyword' | message}}</label>
                <input id="search" type="text" ng-model="vm.keyword" maxlength="50"/>
            </fieldset>
            <input id="close-filters" type="button" value="{{'openlmisTableFilter.cancel' | message}}"
                   ng-click="vm.cancelFilter()"/>
            <input type="submit" value="{{'stockReceiveCreation.search' | message}}"/>
        </form>
        <section class="is-primary">
            <form class="form-inline" ng-submit="vm.addProduct()" name="productForm">
                <div>
                    <label for="movement-select-product">{{'stockReceiveCreation.product' | message}}</label>
                    <select id="movement-select-product"
                            ng-model="vm.selectedOrderableGroup"
                            ng-options="(orderableGroup.orderable | siglusArchivedProductName) for orderableGroup in vm.orderableGroups"
                            ng-change="vm.orderableSelectionChanged()"
                            required>
                    </select>
                </div>
                <button type="submit" class="add">{{'stockReceiveCreation.add' | message}}</button>
            </form>
        </section>
        <table suppress-tr-openlmis-invalid>
            <caption ng-if="!vm.displayItems.length">{{'stockReceiveCreation.noProducts' | message}}</caption>
            <thead>
            <tr>
                <th>{{'stockReceiveCreation.productCode' | message}}</th>
                <th>{{'stockReceiveCreation.productName' | message}}</th>
                <th>{{'stockReceiveCreation.lotCode' | message}}</th>
                <th>{{'stockReceiveCreation.expiryDate' | message}}</th>
                <th>{{'Location'}}</th>
                <th>{{'stockReceiveCreation.soh' | message}}</th>
                <th>{{'Move to'}}</th>
                <th>{{'stockReceiveCreation.quantity' | message}}</th>
                <th>{{'stockReceiveCreation.actions' | message}}</th>
            </tr>
            </thead>
            <tbody ng-repeat="(outerIndex, lineItems) in vm.pagedLineItems">
            <tr ng-repeat="(index, lineItem) in lineItems">

                <td>{{lineItem.isMainGroup ? lineItem.productCode : ''}}</td>
                <td>{{lineItem.isMainGroup ? lineItem.productName : '' }}</td>
                <td ng-if="vm.showEmptyBlockWithKit(lineItem, lineItems, index)"></td>
                <td ng-if="!vm.showEmptyBlockWithKit(lineItem, lineItems, index)">
                    <select
                            ng-required
                            ng-model="lineItem.lot"
                            no-auto-select="true"
                            ng-options="lot.lotCode for lot in vm.getLotList(lineItem) track by lot.lotCode"
                            ng-change="vm.changeLot(lineItem, lineItems);"
                    >
                    </select>
                </td>
                <td ng-if="vm.showEmptyBlockWithKit(lineItem, lineItems, index)"></td>
                <td ng-if="!vm.showEmptyBlockWithKit(lineItem, lineItems, index)">
                    <input
                            type="date"
                            ng-model="lineItem.lot.expirationDate"
                            ng-disabled="true"
                            autocomplete="off"/>
                </td>

                <td ng-if="vm.showEmptyBlock(lineItem, lineItems, index)"></td>
                <td ng-if="!vm.showEmptyBlock(lineItem, lineItems, index)">
                    <select
                            ng-model="lineItem.location"
                            no-auto-select="true"
                            openlmis-invalid="{{lineItem.$error.locationError | message}}"
                            ng-options="location.locationCode for location in vm.getLocationList(lineItem) track by location.locationCode"
                            ng-change="vm.changeLocation(lineItem, lineItems)"
                    >
                    </select>
                </td>
                <td class="text-align-right">{{vm.getStockOnHand(lineItem, lineItems, index)}}</td>
                <td>
                    <div class="location-movement-area" ng-if="!vm.showEmptyBlock(lineItem, lineItems, index)">

                        <select
                                noPlaceholder
                                placeholder="  "
                                ng-model="lineItem.moveTo.area"
                                openlmis-invalid="{{lineItem.$error.areaError | message}}"
                                ng-options="area for area in vm.getAreaList(lineItem) track by area"
                                no-auto-select="false">

                        </select>
                        <select
                                ng-model="lineItem.moveTo.locationCode"
                                openlmis-invalid="{{lineItem.$error.moveToLocationError | message}}"
                                ng-options="locationCode for locationCode in vm.getLocationAreaList(lineItem) track by locationCode"
                                noPlaceholder
                                placeholder="  "
                                no-auto-select="false">

                        </select>
                    </div>

                </td>
                <td style="width: 80px;" ng-if="vm.showEmptyBlock(lineItem, lineItems, index)">
                    {{vm.getTotalQuantity(lineItems)}}
                </td>
                <td style="width: 80px;" ng-if="!vm.showEmptyBlock(lineItem, lineItems, index)" class="digit-cell">
                    <input
                            openlmis-invalid="{{lineItem.$error.quantityError | message}}"
                            class="form-control min-width-input"
                            ng-model="lineItem.quantity"
                            ng-change="vm.changeQuantity(lineItem, lineItems)"
                            positive-integer/>
                </td>
                <td style="max-width: 140px;">
                    <input type="button"
                           value="{{'locationShipmentView.addItem' | message}}"
                           ng-if="lineItem.isMainGroup"
                           class="stock-actions add"
                           ng-click="vm.addItem(lineItem, lineItems)">
                    <input type="button"
                           value="{{'stockPhysicalInventoryDraft.remove' | message}}"
                           ng-if="lineItem.isMainGroup && lineItems.length === 1 || !lineItem.isMainGroup"
                           class="danger stock-actions"
                           ng-click="vm.removeItem(lineItems, index, outerIndex)">
                </td>
            </tr>
            </tbody>
            <openlmis-pagination list="vm.displayItems" paged-list="vm.pagedLineItems"/>
        </table>
    </section>

</div>
<ng-include src="'siglus-issue-or-receive-report/siglus-issue-or-receive-report.html'"></ng-include>

<div class="openlmis-toolbar">
    <div class="siglus-common-bar-container">
        <div class="button-group">
            <button class="danger" ng-click="vm.deleteDraft()">
                {{'stockIssueCreation.delete' | message}}
            </button>
        </div>

        <div class="button-group primary">
            <div ng-class="{'siglus-btn-disable': vm.addedLineItems.length === 0}">
                <button ng-click="vm.save()">
                    {{'stockIssueCreation.save' | message}}
                </button>
            </div>
            <div ng-class="{'siglus-btn-disable': vm.addedLineItems.length === 0}">
                <button class="primary" type="submit" ng-click="vm.submit()">
                    {{'stockIssueCreation.submit' | message}}
                </button>
            </div>
        </div>
    </div>
</div>
