<h2>{{vm.facility.code}} - {{vm.facility.name}} - Todos os produtos</h2>

<div>
    <section id="locationMovementForm" class="openlmis-table-container">
        <form>
            <fieldset>
                <label for="search">{{'stockReceiveCreation.keyword' | message}}</label>
                <input id="search" type="text" ng-model="vm.keyword" maxlength="50"/>
            </fieldset>
            <input id="close-filters" type="button" value="{{'openlmisTableFilter.cancel' | message}}"
                   ng-click="vm.cancelFilter()"/>
            <input type="submit"
                   ng-click="vm.search()"
                   ng-keydown="$event.keyCode === 13 && vm.search()"
                   value="{{'stockReceiveCreation.search' | message}}"/>
        </form>
        <section class="is-primary" ng-if="!vm.isVirtual">
            <form class="form-inline" ng-submit="vm.addProduct()" name="productForm">
                <div>
                    <label for="movement-select-product">{{'stockReceiveCreation.product' | message}}</label>
                    <select id="movement-select-product"
                            ng-model="vm.selectedOrderableGroup"
                            ng-options="(orderableGroup.orderable | siglusArchivedProductName) for orderableGroup in vm.orderableGroups"
                            ng-change="vm.orderableSelectionChanged()"
                            required>
                    </select>
                </div>
                <button type="submit" class="add">{{'stockReceiveCreation.add' | message}}</button>
            </form>
        </section>
        <table suppress-tr-openlmis-invalid>
            <caption ng-if="!vm.displayItems.length && !vm.keyword">{{'locationMovement.noTableData' | message}}</caption>
            <caption ng-if="!vm.displayItems.length && vm.keyword">{{'locationMovement.noFilterData' | message}}</caption>
            <thead>
            <tr>
                <th>{{'stockReceiveCreation.productCode' | message}}</th>
                <th>{{'stockReceiveCreation.productName' | message}}</th>
                <th>{{'stockReceiveCreation.lotCode' | message}}</th>
                <th>{{'stockReceiveCreation.expiryDate' | message}}</th>
                <th>{{'stockPhysicalInventoryDraft.location' | message}}</th>
                <th>{{'stockReceiveCreation.soh' | message}}</th>
                <th>{{'locationMovement.moveTo' | message}}</th>
                <th>{{'stockReceiveCreation.quantity' | message}}</th>
                <th>{{'stockReceiveCreation.actions' | message}}</th>
            </tr>
            </thead>
            <tbody ng-repeat="(outerIndex, lineItems) in vm.pagedLineItems">
            <tr ng-repeat="(index, lineItem) in lineItems" ng-repeat-end>
                <td>{{lineItem.isMainGroup ? lineItem.productCode : ''}}</td>
                <td>{{lineItem.isMainGroup ? lineItem.productName : '' }}</td>
                <td ng-if="vm.showEmptyBlockWithKit(lineItem, lineItems, index)"></td>
                <td ng-if="!vm.showEmptyBlockWithKit(lineItem, lineItems, index)">
                    <div ng-if="vm.isVirtual">{{lineItem.lot.lotCode}}</div>
                    <select
                            ng-if="!vm.isVirtual"
                            openlmis-invalid="{{lineItem.$error.lotCodeError | message}}"
                            ng-model="lineItem.lot"
                            no-auto-select="true"
                            ng-options="lot.lotCode for lot in vm.getLotList(lineItem) track by lot.lotCode"
                            ng-change="vm.changeLot(lineItem, lineItems);"
                    >
                    </select>
                </td>
                <td ng-if="vm.showEmptyBlockWithKit(lineItem, lineItems, index)"></td>
                <td ng-if="!vm.showEmptyBlockWithKit(lineItem, lineItems, index)">
                    <div ng-if="vm.isVirtual">{{lineItem.lot.expirationDate}}</div>
                    <input
                            ng-if="!vm.isVirtual"
                            type="date"
                            ng-model="lineItem.lot.expirationDate"
                            ng-disabled="true"
                            autocomplete="off"/>
                </td>

                <td ng-if="vm.showEmptyBlock(lineItem, lineItems, index)"></td>
                <td ng-if="!vm.showEmptyBlock(lineItem, lineItems, index)">
                    <div ng-if="vm.isVirtual">N/A</div>
                    <select
                            ng-if="!vm.isVirtual"
                            ng-model="lineItem.location"
                            no-auto-select="true"
                            openlmis-invalid="{{lineItem.$error.locationError | message}}"
                            ng-options="location.locationCode for location in vm.getLocationList(lineItem) track by location.locationCode"
                            ng-change="vm.changeLocation(lineItem, lineItems)"
                    >
                    </select>
                </td>
                <td class="text-align-right">{{vm.getStockOnHand(lineItem, lineItems, index)}}</td>
                <td>
                    <div class="location-movement-area" ng-if="!vm.showEmptyBlock(lineItem, lineItems, index)">
                        <select
                                noPlaceholder
                                placeholder="  "
                                no-auto-select="false"
                                ng-model="lineItem.moveTo.area"
                                openlmis-invalid="{{lineItem.$error.areaError | message}}"
                                ng-options="area for area in vm.getAreaList(lineItem) track by area"
                                ng-change="vm.changeArea(lineItem)">
                        </select>
                        <select
                                noPlaceholder
                                placeholder="  "
                                no-auto-select="false"
                                ng-model="lineItem.moveTo.locationCode"
                                openlmis-invalid="{{lineItem.$error.moveToLocationError | message}}"
                                ng-options="locationCode for locationCode in vm.getLocationAreaList(lineItem) track by locationCode"
                                ng-change="vm.changeMoveToLocation(lineItem)"
                               >
                        </select>
                    </div>

                </td>
                <td style="width: 80px;" ng-if="vm.showEmptyBlock(lineItem, lineItems, index)">
                    {{vm.getTotalQuantity(lineItems)}}
                </td>
                <td style="width: 80px;" ng-if="!vm.showEmptyBlock(lineItem, lineItems, index)" class="digit-cell">
                    <input
                            openlmis-invalid="{{lineItem.$error.quantityError | message}}"
                            class="form-control min-width-input"
                            ng-model="lineItem.quantity"
                            ng-change="vm.changeQuantity(lineItem, lineItems)"
                            positive-integer/>
                </td>
                <td style="max-width: 160px;" ng-if="!vm.isVirtual">
                    <button style="padding: 8px;"
                            ng-if="lineItem.isMainGroup"
                            class="stock-actions add add-item"
                            ng-click="vm.addItem(lineItem, lineItems)">
                        {{'locationShipmentView.addItem' | message}}
                    </button>
                    <input type="button"
                           value="{{'stockPhysicalInventoryDraft.remove' | message}}"
                           ng-if="lineItem.isMainGroup && lineItems.length === 1 || !lineItem.isMainGroup"
                           class="danger stock-actions"
                           ng-click="vm.removeItem(lineItems, index, outerIndex)">
                </td>
                <td style="max-width: 160px;" ng-if="vm.isVirtual">
                    <button style="padding: 8px;"
                            ng-if="lineItem.isFirst"
                            class="stock-actions add add-item"
                            ng-click="vm.addItem(lineItem, lineItems)">
                        {{'locationMovement.addLocation' | message}}
                    </button>
                    <input type="button"
                           value="{{'stockPhysicalInventoryDraft.remove' | message}}"
                           ng-if="!lineItem.isFirst && !lineItem.isMainGroup"
                           class="danger stock-actions"
                           ng-click="vm.removeItem(lineItems, index, outerIndex)">
                </td>
            </tr>
            </tbody>
            <openlmis-pagination list="vm.displayItems" paged-list="vm.pagedLineItems"/>
        </table>
    </section>

</div>
<ng-include src="'siglus-issue-or-receive-report/siglus-issue-or-receive-report.html'"></ng-include>
<siglus-common-toolbar
        data="vm.addedLineItems"
        mode="'SAVE'"
        on-delete="vm.deleteDraft()"
        on-save="vm.save()"
        on-submit="vm.submit()">
</siglus-common-toolbar>
