<div class="openlmis-toolbar">
    <div class="button-group">
        <button class="danger" ng-click="vm.deleteDrafts()">
            {{'PhysicalInventoryDraftList.delete' | message}}
        </button>
    </div>
    <div class="button-group primary" ng-click="vm.mergeDrafts()">
        <!-- SIGLUS-REFACTOR: starts here -->
        <button ng-disabled="vm.isAllowedClick(vm.drafts)" class="primary">{{'PhysicalInventoryDraftList.merge' | message}}</button>
        <!-- SIGLUS-REFACTOR: ends here -->
    </div>
</div>
