<div class="modal add-products-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header" ng-if="!vm.hasError">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    {{vm.titleMapper[vm.adjustmentType.state] | message}}
                </h4>
            </div>

            <div class="modal-header modal-has-error" ng-if="vm.hasError">
                {{'stockIssueInitialModal.hasStartedError' | message}}
            </div>

            <div class="modal-body">
                <form hide-message-dialog="true" id="initial-issue-form" ng-submit="vm.submitForm()">
                    <fieldset>
                        <label for="issueTo">{{vm.typeLabelMapper[vm.adjustmentType.state] | message}}</label>
                        <select id="issueTo"
                                ng-options="data as data.name for data in vm.issueToList"
                                ng-model="vm.issueTo" ng-change="vm.changeIssueTo()" required>
                        </select>
                    </fieldset>

                    <fieldset ng-if="vm.issueTo && vm.issueTo.name === 'Outros'">
                        <input type="text" placeholder="{{'stockIssueInitialModal.inputDestination' | message}}"
                                   ng-model="vm.destinationFacility" id="destinationFacility" required/>
                    </fieldset>
                    <fieldset style="margin-bottom: 6px;">
                        <label for="documentationNo">{{'stockIssueInitialModal.documentationNo' | message}}</label>
                        <input type="text" ng-model="vm.documentationNo" id="documentationNo" required/>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-click="$hide()" ng-if="!vm.hasError">{{'stockIssueInitialModal.cancel' | message}}</button>
                <button class="primary" type="submit" form="initial-issue-form">
                    {{'stockIssueInitialModal.confirm' | message }}
                </button>
            </div>


        </div>
    </div>
</div>
