<div class="regimen-preview template-preview-section">
    <div class="table-container-scroll-x">
        <table class="openlmis-table">
            <thead>
            <tr>
                <th ng-repeat="regimenColumn in vm.regimenColumns | orderBy : 'displayOrder'">
                    {{regimenColumn.label}}
                </th>
            </tr>
            </thead>
            <tbody ng-repeat="category in vm.categories" tbody-title="{{category}}" ng-init="cIndex = $index">
                <tr ng-repeat="i in [0, 1]">
                    <td ng-repeat="regimenColumn in vm.regimenColumns"
                        ng-class="{'user-input': vm.isUserInput(regimenColumn), 'col-source': $index > 1}">
                        <span>{{vm.columnDisplayName(regimenColumn, cIndex, i)}}</span>
                    </td>
                </tr>
                <tr ng-if="$last">
                    <td colspan="{{vm.colspan}}" class="grey-background">{{vm.total.label}}</td>
                    <td class="col-source" ng-class="{'user-input': vm.isUserInput(vm.total)}" ng-repeat="regimenColumn in vm.regimenColumns" ng-if="vm.isUserInput(regimenColumn)">
                        {{vm.columnDisplayName(vm.total)}}
                    </td>
                </tr>
            </tbody>
            <thead>
            <tr>
                <th colspan="{{vm.regimenColumns.length}}">{{vm.summary.label}}</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="summaryColumn in vm.summaryColumns | orderBy: 'displayOrder'">
                    <td colspan="{{vm.colspan}}">{{summaryColumn.label}}</td>
                    <td ng-repeat="regimenColumn in vm.regimenColumns" class="col-source" ng-class="{'user-input': vm.isUserInput(summaryColumn)}" ng-if="vm.isUserInput(regimenColumn)">
                        <span ng-if="vm.isTotal(summaryColumn)">{{vm.columnDisplayName(vm.total)}}</span>
                        <span ng-if="!vm.isTotal(summaryColumn)">{{vm.columnDisplayName(regimenColumn)}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
