[class*="-preview"] {
    .openlmis-table {
        tbody tr td {
            min-width: 100px;
            padding: 16px 8px;
            &.col-source {
                color: #979797;
            }
            &.user-input {
                text-align: center;
            }
            &.user-input span {
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    margin: -4px -8px;
                    border: 1px solid #c8c8c8;
                    border-radius: 5px;
                }
            }
            &.row-span-border {
                border-left-width: 1px;
            }
        }

        .bold-label {
            font-weight: bold;
        }
    }

    .openlmis-table + .openlmis-table {
        margin-top: -2px;
    }
}

.openlmis-table-container .openlmis-flex-table,
.openlmis-table {
    tr td.grey-background {
        background-color: #f0f0f0;
    }
}

.patient-preview .openlmis-table,
.requisition-patient .openlmis-table {
    width: 302px;
    word-break: break-all;
    td {
        width: 100px;
        &:first-child {
            width: 200px;
        }
    }
}

.regimen-preview .table-container-scroll-x {
    word-break: break-all;
    .category {
        font-weight: bold;
    }
    &:first-child {
        th:first-child {
            width: 168px;
            min-width: 168px;
        }
        th:nth-child(2) {
            width: 200px;
            min-width: 200px;
        }
    }
    th {
        width: 168px;
        min-width: 168px;
        &:first-child {
            width: 368px;
            min-width: 368px;
        }
    }
}

.requisition-template-admin [class*="-preview"].openlmis-table-container .row .main .toolbar {
    padding-top: 0;
    margin-bottom: 0;
}

.template-preview-section {
    margin-bottom: 2em;
}


table td[popover] {
    display: table-cell;
    border: inherit;
    border-top: #ddd 1px solid;
    border-left: #ddd 1px solid;
}
