<div class="product-preview table-container-scroll-x template-preview-section">
    <table class="openlmis-table">
        <thead>
        <tr>
            <th ng-repeat="column in vm.columns | orderBy : 'displayOrder'">{{column.label}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="lineItem in vm.items">
            <td ng-repeat="column in vm.columns | orderBy : 'displayOrder'"
                ng-class="{'col-source': !lineItem[column.name], 'user-input': vm.isUserInput(column)}">
                <span>{{vm.columnDisplayName(column, lineItem)}}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
