<div class="usage-information-preview table-container-scroll-x template-preview-section">
    <table class="openlmis-table">
        <tbody>
        <tr>
            <td colspan={{vm.monthOrYearColspan}}
                class="grey-background"
            >{{'adminTemplateConfigurePreview.usageInformation.MonthOrYear' | message}}</td>
        </tr>
        <tr>
            <td rowspan="2"></td>
            <td class="bold-label" colspan="2" ng-repeat="informationColumn in vm.information.columns | orderBy : 'displayOrder'" ng-if="informationColumn.isDisplayed">{{informationColumn.label}}</td>
        </tr>
        <tr>
            <td ng-repeat="product in vm.products track by $index"
                ng-class="{'row-span-border': $first}"
            >{{product}}</td>
        </tr>
        <tr ng-repeat="serviceColumn in vm.service.columns | orderBy : 'displayOrder'" ng-if="serviceColumn.isDisplayed">
            <td ng-class="{'grey-background': vm.isTotal(serviceColumn)}">{{serviceColumn.label}}</td>
            <td class="col-source"
                ng-repeat="product in vm.products track by $index"
                ng-class="{'user-input': vm.isUserInput(serviceColumn)}"
            >
                <span>{{vm.columnDisplayName(serviceColumn)}}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
