<section class="openlmis-table-container">

    <h4>{{'shipmentView.skip' | message}}</h4>
    <ul>
        <li><a ng-click="vm.skipAllLineItems()">{{'shipmentView.all' | message}}</a></li>
        <li><a ng-click="vm.unskipAllLineItems()">{{'shipmentView.none' | message}}</a></li>
    </ul>
    <form>
        <label for="searchFor">{{'stockCardSummaryList.keyword' | message}}</label>
        <input id="searchFor" type="text" ng-model="vm.keyword" maxlength="50"/>
        <input id="close-filters" type="button" value="{{'openlmisTableFilter.cancel' | message}}" ng-click="vm.cancelFilter()"/>
        <input type="submit"
               ng-click="vm.search()"
               ng-keydown="$event.keyCode === 13 && vm.search()"
               value="{{'stockCardSummaryList.search' | message}}"/>
    </form>
    <button class="primary" ng-click="vm.print()">{{'stockCardSummaryList.print' | message}}</button>

    <table class="expired-products-table">
        <thead>
        <tr>
            <th>{{'shipmentView.skip' | message}}</th>
            <th>{{'stockCardSummaryList.productCode' | message}}</th>
            <th>{{'stockCardSummaryList.product' | message}}</th>
            <th>{{'stockCardSummaryList.lotCode' | message}}</th>
            <th>{{'stockCardSummaryList.expiryDate' | message}}</th>
            <th ng-if="vm.enableLocation">{{'stockPhysicalInventoryDraft.location' | message}}</th>
            <th>{{'stockCardSummaryList.stockOnHand' | message}}</th>
            <th>{{'stockCardSummaryList.actions' | message}}</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="product in vm.pagedLineItems" class="is-secondary">
                <td></td>
                <td>{{product.productCode}}</td>
                <td class="white-space-pre">{{product.productName}}</td>
                <td>{{product.lotCode}}</td>
                <td>{{product.expirationDate}}</td>
                <td ng-if="vm.enableLocation">{{product.locationCode}}</td>
                <td class="text-align-right">{{product.soh}}</td>
                <td>
                    <button type="button" ng-click="vm.viewDetail(product)" class="primary">
                        {{'stockCardSummaryList.view'| message}}
                    </button>
                </td>
            </tr>
            <tr ng-repeat-start="lot in product.lots">
                <td>
                    <input type="checkbox" ng-model="lot.skipped">
                </td>
                <td>{{lot.productCode}}</td>
                <td class="white-space-pre">{{lot.productName}}</td>
                <td>{{lot.lotCode}}</td>
                <td>{{lot.expirationDate}}</td>
                <td ng-if="vm.enableLocation">{{lot.locationCode}}</td>
                <td class="text-align-right">{{lot.soh}}</td>
                <td>
                    <button type="button" ng-click="vm.viewDetail(lot)" class="primary">
                        {{'stockCardSummaryList.view'| message}}
                    </button>
                </td>
            </tr>
            <tr ng-repeat-end ng-repeat="location in lot.locations">
                <td></td>
                <td>{{location.productCode}}</td>
                <td class="white-space-pre">{{location.productName}}</td>
                <td></td>
                <td></td>
                <td ng-if="vm.enableLocation">{{location.locationCode}}</td>
                <td class="text-align-right">{{location.soh}}</td>
                <td>
                    <button type="button" ng-click="vm.viewDetail(location)" class="primary">
                        {{'stockCardSummaryList.view'| message}}
                    </button>
                </td>
            </tr>
            <tr ng-repeat-end ng-if="false"></tr>
        </tbody>
    </table>
    <openlmis-pagination list="vm.displayItems" paged-list="vm.pagedLineItems">
    </openlmis-pagination>
</section>

<ng-include src="'siglus-issue-or-receive-report/siglus-issue-or-receive-report.html'"></ng-include>
<div class="openlmis-toolbar">
    <div class="button-group primary">
        <button type="submit" ng-click="vm.confirmRemove()" class="danger">
            {{'expiredProducts.confirmRemove' | message}}
        </button>
    </div>
    <button ng-click="vm.generatePickPackList()">
        {{'expiredProducts.generateExpiredProductList' | message}}
    </button>
</div>


