<div class="shipment-view-container expired-products-print">
    <div class="breadcrumb" style="font-size: 13px;">
    </div>
    <div style="display: flex; align-items: center;">
        <div>
            <div class="shipment-view-report-title">
                <div>{{'expiredProducts.title.report' | message }}</div>
                <div style="font-weight: 600; font-size: 15px;">({{ 'shipmentViewReport.tips' | message }})</div>
            </div>
            <div class="location-status-facility">
                <div class="shipment-view-report-info">{{ 'adminFacilityAdd.facilityName' | message }}: {{vm.facility.name}}</div>
                <div class="shipment-view-report-info">{{ 'adminFacilityAdd.facilityCode' | message }}: {{vm.facility.code}}</div>
            </div>
            <div class="soh-product-print-sub-title">
                {{vm.facility.code}}-{{vm.facility.name}}
            </div>
        </div>
    </div>
    <section>
        <table border cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th class="text__left" style="width: 150px;">{{'stockCardSummaryList.productCode' | message}}</th>
                <th class="text__left" style="width: 350px;">{{'stockCardSummaryList.product' | message}}</th>
                <th class="text__left" style="width: 200px;">{{'stockCardSummaryList.lotCode' | message}}</th>
                <th class="text__left" style="width: 150px;">{{'stockCardSummaryList.expiryDate' | message}}</th>
                <th class="text__left" style="width: 150px;" ng-if="vm.enableLocation">{{'stockPhysicalInventoryDraft.location' | message}}</th>
                <th class="text__left" style="width: 150px;">{{'stockCardSummaryList.stockOnHand' | message}}</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="product in vm.displayItems" class="is-secondary">
                    <td>{{product.productCode}}</td>
                    <td class="white-space-pre">{{product.productName}}</td>
                    <td>{{product.lotCode}}</td>
                    <td>{{product.expirationDate}}</td>
                    <td ng-if="vm.enableLocation">{{product.locationCode}}</td>
                    <td class="text-align-right">{{product.soh}}</td>
                </tr>
                <tr ng-repeat-start="lot in product.lots">
                    <td>{{lot.productCode}}</td>
                    <td class="white-space-pre">{{lot.productName}}</td>
                    <td>{{lot.lotCode}}</td>
                    <td>{{lot.expirationDate}}</td>
                    <td ng-if="vm.enableLocation">{{lot.locationCode}}</td>
                    <td class="text-align-right">{{lot.soh}}</td>
                </tr>
                <tr ng-repeat-end ng-repeat="location in lot.locations">
                    <td>{{location.productCode}}</td>
                    <td class="white-space-pre">{{location.productName}}</td>
                    <td></td>
                    <td></td>
                    <td ng-if="vm.enableLocation">{{location.locationCode}}</td>
                    <td class="text-align-right">{{location.soh}}</td>
                </tr>
                <tr ng-repeat-end ng-if="false"></tr>
            </tbody>
        </table>
    </section>
</div>
