<h2 ng-show="vm.facility">{{ vm.key('title') | message: {'facility': vm.facility.name} }}</h2>

<section class="openlmis-table-container">
    <table>
        <caption ng-if="!vm.programs.length">{{vm.key('noProgramAvailable') | message}}
        </caption>
        <thead>
        <tr>
            <th style="min-width: 160px;">{{vm.key('program') | message}}</th>
            <th style="min-width: 160px;" ng-if="vm.adjustmentType.state === 'issue'">{{vm.key('status') | message}}</th>
            <th>{{vm.key('action') | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="program in vm.programs">
            <td style="min-width: 160px;">{{program.name}}</td>
            <td style="min-width: 160px;" ng-if="vm.adjustmentType.state === 'issue'">{{vm.key(program.draft ? 'draft' : 'notStarted') | message}}</td>
            <!-- SIGLUS-REFACTOR: change adjustment/issue/receive entry page-->
            <td ng-if="!program.draft">

                <input
                        id="continueButton"
                        type="button"
                        value="{{(vm.key('continue')) | message}}"
                        class="primary"
                        ng-click="vm.adjustmentType.state === 'issue' ? vm.proceedForIssue(program) : vm.proceed(program)"
                />
            </td>
            <td ng-if="program.draft">
                <input
                        id="startButton"
                        type="button"
                        value="{{vm.key(vm.adjustmentType.state === 'issue'  ? 'issueStart' : 'start') | message}}"
                        class="primary"
                        ng-click="vm.adjustmentType.state === 'issue' ? vm.start(program) : vm.proceed(program)"
                />
            <!-- SIGLUS-REFACTOR: ends here -->
            </td>
        </tr>
        </tbody>
    </table>
</section>
