.product-grid {
    overflow: auto;
    position: relative;

    .skip {
        margin: 0 auto;
        display: table;
    }

    .skipped-line-item {
        background: $light-gray;
    }

    button {
        @extend .btn;
    }

    button.add-product {
        @include button($green);
        float: right;
    }

    button.hide-line-item {
        @include button($red);
    }

    .openlmis-pagination {
        flex: 0 1 auto;
        width: inherit;
    }
}

// SIGLUS-REFACTOR: use product-grid-diff.scss cant overwrite this css rule
// so replace this file directly
//.requisition-product-grid-cell {
//	&.has-popover {
//		padding-right: 2em !important;
//	}
//}
// SIGLUS-REFACTOR: ends here
