<div class="openlmis-toolbar">
    <div class="button-group">
        <button class="danger" ng-click="vm.delete()">
            {{'stockPhysicalInventoryDraft.delete' | message}}
        </button>
    </div>
    <div class="button-group primary">
        <!-- SIGLUS-REFACTOR: starts here -->
        <button ng-disabled="!vm.draft.lineItems.length" ng-click="vm.saveDraft()">{{'stockPhysicalInventoryDraft.save' | message}}</button>
        <button ng-disabled="!vm.draft.lineItems.length" class="primary" ng-click="vm.submit()">{{'stockPhysicalInventoryDraft.submit' | message}}</button>
        <!-- SIGLUS-REFACTOR: ends here -->
    </div>
</div>
