input.lot-code {
    text-transform: uppercase;
}

::placeholder {
    text-transform: none;
}

.stock-actions {
    // width: 115px!important;
}

.stock-actions + .stock-actions {
    margin-top: 8px;
}