<!--SIGLUS-REFACTOR: starts here-->
<h2 ng-if="vm.facility && vm.program">
  {{'stockPhysicalInventory.title' | message: { 'facility': vm.facility.name, 'program': vm.program.name } }}
</h2>
<h2 ng-hide="vm.facility && vm.program">
  {{'stockPhysicalInventory.physicalInventory'| message}}
</h2>

<div class="physical-inventory-tab-container">

  <form ng-submit="vm.searchProgram()" class="sidebar" id="physical-inventory-list-program-sidebar">
    <label for="selectProgram">{{'stockPhysicalInventory.program' | message}}</label>
    <select
        id="selectProgram"
        ng-model="vm.program"
        ng-options="p.name for p in vm.programs"
        placeholder="{{'stockPhysicalInventory.selectProgram' | message}}"
        required
    >
    </select>
    <input type="submit" value="{{'stockPhysicalInventory.search' | message}}"/>
  </form>
  <!--SIGLUS-REFACTOR: ends here-->

  <div class="physical-inventory-table-tab">
    <nav>
      <ul class="tab-ul">
        <li ng-class="{'active': vm.isInventory()}" ng-click="vm.goToInventory()" class="tab-li">
          {{'stockPhysicalInventory.physicalInventory' | message}}
        </li>
        <li ng-class="{'active': vm.isHistory()}" ng-click="vm.goToHistory()" class="tab-li">
          {{'stockPhysicalInventory.history' | message}}
        </li>
      </ul>
    </nav>
    <div ui-view></div>
  </div>
</div>
