<section class="openlmis-table-container">
	<div>Hello History</div>
<!--	<table>-->
<!--		<caption ng-if="!vm.historyList.length">-->
<!--			{{'stockPhysicalInventory.selectFirst' | message}}-->
<!--		</caption>-->
<!--		<thead>-->
<!--		<tr>-->
<!--			<th style="min-width:160px">{{'stockPhysicalInventory.program' | message}}</th>-->
<!--			<th style="min-width:160px">{{'stockPhysicalInventory.dateCompleted' | message}}</th>-->
<!--			<th class="col-sticky sticky-right">{{'stockPhysicalInventory.actions' | message}}</th>-->
<!--		</tr>-->
<!--		</thead>-->
<!--		<tbody>-->
<!--		<tr ng-if="vm.historyList.length > 0">-->
<!--			<td>{{vm.program.name}}</td>-->
<!--			<td>{{vm.getDraftStatus(vm.drafts[0].isStarter)}}</td>-->
<!--			<td>-->
<!--				<input id="proceedButton" type="button" ng-click=""-->
<!--					   value="{{'stockPhysicalInventory.view'| message}}"-->
<!--					   class="primary fullwidth-primary-btn"/>-->
<!--			</td>-->
<!--		</tr>-->
<!--		</tbody>-->
<!--	</table>-->
</section>
