.wait-for-download {
    width: 1250px;
    padding: 0 2px;
    display: block;
    overflow: hidden;
    height: 0;
    // .rapid-test-pdf-container {
    //   // padding: 60px 90px 0 90px;
      
    // }
    .label-checkbox {
      width: 100%;
      label {
        font-size: 17px;
      }
      input {
        float: right;
      }
    }
    .N-input {
      width: 122px;
      min-height: 50px;
      text-align: left;
      background: #FFFFFF;
      border: 1px solid #000000;
      font-size: 14px;
    }
    .section-first {
      width: 1246px;
      display: flex;
    }
    .section-second {
      width: 1246px;
      display: flex;
    }
    .section-third {
      width: 1246px;
      height: 58px;
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 18px;
      .issue-voucher-title {
        margin-left: 678px;
        margin-right: 8px;
      }
      .issue-voucher {
        width: 106px;
        height: 30px;
        background: #FFFFFF;
        border: 2px solid #000000;
      }
    }
    .section-fouth {
      padding: 5px 8px;
      width: 1246px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #FFFFFF;
      border: 2px solid #000000;
      font-weight: 700;
      font-size: 18px;
      flex-wrap: wrap;
      &>div{
        width: 33%;
      }
    }
    .sub-information {
      width: 100%;
      display: flex;
      margin-top: 20px;
      font-size: 18px;
      font-weight: 700;
    }
    .black-width {
      padding: 0;
      width: 20px;
      max-width: 20px;
    }
  
    table {
      width: 100%;
      box-sizing:border-box;
      // border-collapse: collapse;
      // background: #FFFFFF;
      tr {
        text-align: center;
      }
      thead {
        td {
          border-top: 1px solid #000;
          border-left: 1px solid #000;
          border-bottom: 1px solid #000;
          border-right: 0px solid #000;
          word-wrap: break-word;
          padding: 0 4px;
        }
      }
      td {
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        border-right: 0px solid #000;
        word-break: break-word;
        padding: 0 4px;
      }
  
      // span {
      //   font-size: 16px;
      // }
  
      .width-700 {
        width: 700px !important;
      }
  
      .height-50 {
        height: 50px !important;
      }
  
      .height-30 {
        height: 30px !important;
      }
  
      .height-20 {
        height: 20px !important;
      }
  
      .black-tr {
        height: 10px;
      }
      .logo--center {
        position: relative;
      }
      .text__padding {
        padding: 0 6px;
      }
      .text__left {
        text-align: left !important;
        padding: 0 6px;
      }
      .text__right {
        text-align: right !important;
        padding: 0 6px;
      }
  
      .font-bold {
        font-weight: bold;
      }
  
      .table--title {
        height: 40px;
        font-weight: bold;
        text-align: center;
        background-color: #AFAFAF;
      }
  
      .table--subtitle-light-gray {
        font-weight: bold;
        height: 35px;
        background-color: #E2E2E2;
      }
  
      .table--subtitle-middle-gray {
        font-weight: bold;
        height: 35px;
        background-color: #AFAFAF;
      }
  
      .table--subtitle-dark-gray {
        font-weight: bold;
        height: 35px;
        background-color: #858585;
      }
  
      margin-bottom: 10px;
    }
  
    .report--title {
      text-align: center;
      line-height: 1.2;
    }
  
    .report--title-font {
      font-weight: bold;
      font-size: 24px;
      text-align: center;
    }

    .hide-tr {
      height: 0px !important;
      td {
        border: none !important;
      }
    }
  
    .report--subtitle {
        font-weight: 700;
        font-size: 18px;
    }

    .report--main-font {
        font-weight: 700;
        font-size: 14px;
    }
  
    .inconsistency {
      width: 1246px;
    }
  }