<div class="siglus-notification">
    <a bs-dropdown aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bell" aria-hidden="true"></i>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li class="notification-title">{{'notification.title' | message}}</li>
        <li class="notification-empty" ng-if="!vm.notifications.length">{{'notification.empty' | message}}</li>
        <li ng-repeat="notification in vm.notifications">
            <div>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <span>{{vm.getNotificationMsg(notification)}}</span>
            </div>
            <a class="dropdown-link">{{'notification.view' | message}}</a>
        </li>
    </ul>
</div>

