<h2>
    {{'stockCardSummaryList.title' | message: { 'facility': vm.facility.name, 'program': vm.program.name || ''} }}
</h2>

<form ng-submit="vm.searchProgram()" class="sidebar" id="stock-card-summary-list-sidebar">
    <label for="selectProgram">{{'stockCardSummaryList.program' | message}}</label>
    <select
            id="selectProgram"
            ng-model="vm.program"
            ng-options="p.name for p in vm.programs"
            placeholder="{{'stockCardSummaryList.selectProgram' | message}}"
            required
    >
    </select>
    <input type="submit" value="{{'stockCardSummaryList.search'|message}}"/>
</form>

<section class="openlmis-table-container">
    <button class="primary" ng-disabled="!vm.stockCardSummaries.length" ng-show="!vm.isArchivedProducts" ng-click="vm.print()">{{'stockCardSummaryList.print' | message}}</button>
    <form>
        <label for="searchFor">{{'stockCardSummaryList.keyword' | message}}</label>
        <input id="searchFor" type="text" ng-model="vm.keyword" maxlength="50"/>
        <input id="close-filters" type="button" value="{{'openlmisTableFilter.cancel' | message}}" ng-click="vm.cancelFilter()"/>
        <input type="submit"
               ng-click="vm.filterList()"
               ng-keydown="$event.keyCode === 13 && vm.filterList()"
               value="{{'stockCardSummaryList.search' | message}}"/>
    </form>

    <table class="soh-location-list-table">
        <caption ng-if="!vm.stockCardSummaries.length">
            {{'stockCardSummaryList.noProducts' | message}}
        </caption>
        <thead>
        <tr>
            <th>{{'stockCardSummaryList.productCode' | message}}</th>
            <th>{{'stockCardSummaryList.product' | message}}</th>
            <th>{{'stockCardSummaryList.lotCode' | message}}</th>
            <th>{{'stockCardSummaryList.expiryDate' | message}}</th>
            <th>{{'stockPhysicalInventoryDraft.location' | message}}</th>
            <th>{{'stockCardSummaryList.lastUpdate' | message}}</th>
            <th>{{'stockCardSummaryList.stockOnHand' | message}}</th>
            <th>{{'stockCardSummaryList.actions' | message}}</th>
        </tr>
        </thead>
        <tbody ng-repeat="group in vm.pagedLineItems">

        <tr ng-class="{'is-secondary': lineItem.type === 'PRODUCT'}" ng-repeat="lineItem in group">
            <td>{{lineItem.productCode}}</td>
            <td class="white-space-pre">{{lineItem.productName}}</td>
            <td>{{lineItem.lotCode}}</td>
            <td>{{lineItem.expirationDate}}</td>
            <td>{{lineItem.locationCode}}</td>
            <td>{{lineItem.lastUpdate}}</td>
            <td class="text-align-right">{{lineItem.stockOnHand}}</td>
            <td>
                <button type="button"
                        ng-click="vm.viewDetail(lineItem)"
                        class="primary">
                    {{'stockCardSummaryList.view'| message}}
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <openlmis-pagination list="vm.displayItems" paged-list="vm.pagedLineItems">
    </openlmis-pagination>
</section>
