<h2>
    {{vm.key('title') | message:{'facilityCode': vm.facility.code, 'facilityName': vm.facility.name, 'program': vm.program.name} }}
</h2>

<div class="stock-adjustment-creation">
    <section class="openlmis-table-container">
        <form ng-submit="vm.search()">
            <fieldset>
                <label for="search">{{vm.key('keyword') | message}}</label>
                <input id="search" type="text" ng-model="vm.keyword" maxlength="50"/>
            </fieldset>

            <!-- SIGLUS-REFACTOR: starts here -->
            <input id="close-filters" type="button" value="{{'openlmisTableFilter.cancel' | message}}" ng-click="vm.doCancelFilter()"/>
            <!-- SIGLUS-REFACTOR: ends here -->
            <input type="submit" value="{{vm.key('search') | message}}"/>
        </form>
        <!-- SIGLUS-REFACTOR: starts here -->
        <section class="is-primary">
            <form class="form-inline" ng-submit="vm.addProductWithoutLot()" name="productForm">
                <div>
                    <label for="productSelect">{{vm.key('product') | message}}</label>
                    <select id="productSelect" ng-model="vm.selectedOrderableGroup"
                            ng-options="(orderableGroup[0].orderable | siglusArchivedProductName) for orderableGroup in (vm.orderableGroups | siglusOrderByArchived)"
                            ng-change="vm.orderableSelectionChanged()"
                            required>
                    </select>
                </div>
                <button type="submit" class="add">{{vm.key('add') | message}}</button>
            </form>
        </section>
        <table suppress-tr-openlmis-invalid>
            <caption ng-if="!vm.displayItems.length">{{vm.key('noProducts') | message}}</caption>
            <thead>
            <tr>
                <th>{{vm.key('productCode') | message}}</th>
                <th>{{vm.key('product') | message}}</th>
                <th>{{vm.key('reason') | message}}</th>
                <th>{{vm.key('reasonComments') | message}}</th>
                <th>{{vm.key('lotCode') | message}}</th>
                <th>{{vm.key('expiryDate') | message}}</th>
                <th>{{vm.key('soh') | message}}</th>
                <th>{{vm.key('quantity') | message}}</th>
                <th ng-if="vm.showVVMStatusColumn">{{vm.key('vvmStatus') | message}}</th>
                <th>{{vm.key('documentationNo') | message}}</th>
                <th>{{vm.key('actions') | message}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="lineItem in vm.items">
                <!-- product code -->
                <td>{{lineItem.orderable.productCode}}</td>
                <!-- product code end -->

                <!-- product name -->
                <td class="white-space-pre">{{lineItem.orderable | productName}}</td>
                <!-- product name end -->

                <!-- reason -->
                <td openlmis-invalid="{{lineItem.$errors.reasonInvalid ? 'openlmisForm.required' : '' | message}}" class="digit-cell">
                    <select ng-model="lineItem.reason"
                            ng-change="vm.validateReason(lineItem);vm.clearFreeText(lineItem, 'reasonFreeText');vm.validateQuantity(lineItem);"
                            ng-options="reason as reason.name for reason in vm.filterByProgram(vm.reasons, lineItem.orderable.programs) track by reason.id" autofocus>
                    </select>
                </td>
                <!-- reason end -->

                <!-- SIGLUS-REFACTOR: starts here -->
                <!-- comment -->
                <td>
                    <input type="text" ng-show="lineItem.reason.isFreeTextAllowed"
                           ng-model="lineItem.reasonFreeText" rows="1" cols="15" maxlength="100"/>
                </td>
                <!-- comment end -->

                <!-- lot code -->
                <td ng-if="lineItem.isKit"></td>
                <td ng-if="!lineItem.isKit">
                    <siglus-stock-input-select line-items="vm.items" line-item="lineItem" enable-input="true"></siglus-stock-input-select>
                </td>
                <!-- lot code end -->

                <!-- expiration date -->
                <td ng-if="!lineItem.isKit" openlmis-invalid="{{lineItem.$errors.lotDateInvalid}}">
                    <input id="lineItem.lot.expirationDate" class="adjustment-date-input min-width-date-input" type="date" ng-model="lineItem.lot.expirationDate"
                           ng-disabled="lineItem.lot.id"/>
                </td>
                <td ng-if="lineItem.isKit"></td>
                <!-- expiration date end -->

                <!-- stock on hand -->
                <td class="text-align-right">{{lineItem.$previewSOH}}</td>
                <!-- stock on hand end -->
                <!-- SIGLUS-REFACTOR: ends here -->

                <!-- quantity -->
                <td openlmis-invalid="{{lineItem.$errors.quantityInvalid}}" class="digit-cell">
                    <input class="form-control min-width-input" ng-model="lineItem.quantity"
                           ng-class="{'error': lineItem.$errors.quantityInvalid}"
                           ng-change="vm.validateQuantity(lineItem)" ng-blur="vm.validateQuantity(lineItem)" positive-integer/>
                </td>
                <!-- quantity end -->

                <!-- vvm -->
                <td ng-if="vm.showVVMStatusColumn">
                    <select ng-if="lineItem.orderable.extraData.useVVM == 'true'"
                            ng-model="lineItem.vvmStatus"
                            ng-options="status as vm.getStatusDisplay(status) for status in vm.vvmStatuses"
                            placeholder="{{'stockAdjustmentCreation.selectStatus' | message}}">
                    </select>
                </td>
                <!-- vvm end -->

                <!-- documentation number -->
                <td class="digit-cell">
                    <input class="form-control" ng-model="lineItem.documentationNo" maxlength="100"/>
                </td>
                <!-- documentation number end -->

                <!-- button -->
                <td>
                    <button type="button" class="danger" ng-click="vm.remove(lineItem)">{{vm.key('remove') | message}}</button>
                </td>
                <!-- button end -->

            </tr>
            </tbody>
        </table>
        <!-- SIGLUS-REFACTOR: ends here -->
        <openlmis-pagination list="vm.displayItems" paged-list="vm.items"/>
    </section>
</div>

<ng-include src="'siglus-issue-or-receive-report/siglus-issue-or-receive-report.html'"></ng-include>
<ng-include src="'stock-adjustment-creation/adjustment-creation-toolbar.html'"></ng-include>
