<div class="shipment-view-container location-status-print">
    <div class="breadcrumb" style="font-size: 13px;">
    </div>
    <div style="display: flex; align-items: center;">
        <div>
            <div class="shipment-view-report-title">
                <div>{{'locationStatus.title.report' | message }}</div>
                <div style="font-weight: 600; font-size: 15px;">({{ 'shipmentViewReport.tips' | message }})</div>
            </div>
            <div class="location-status-facility">
                <div class="shipment-view-report-info">{{ 'adminFacilityAdd.facilityName' | message }}: {{vm.facility.name}}</div>
                <div class="shipment-view-report-info">{{ 'adminFacilityAdd.facilityCode' | message }}: {{vm.facility.code}}</div>
            </div>
            <div class="soh-product-print-sub-title">
                {{vm.facility.code}}-{{vm.facility.name}}
            </div>
        </div>
    </div>
    <section>
        <table border cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th class="text__left" style="width: 250px;">{{'stockAdjustmentCreation.location' | message}}</th>
                <th class="text__left" style="width: 250px;">{{'shipmentView.status' | message}}</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lineItem in vm.displayItems">
                    <td ng-class="{'is-secondary': vm.itemLocationOccupied(lineItem)}">{{lineItem.locationCode}}</td>
                    <td ng-if="vm.itemLocationOccupied(lineItem)" class="is-secondary">{{'locationStatus.status.occupied' | message}}</td>
                    <td ng-if="!vm.itemLocationOccupied(lineItem)">{{'locationStatus.status.empty' | message}}</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
