<h2>{{'shipmentView.title' | message:{orderCode:vm.order.orderCode} }}</h2>
<aside class="requisition-info">
    <div ng-if="vm.order.emergency" class="requisition-type emergency">
        {{'shipmentView.emergency' | message}}
    </div>
    <ul>
        <li>
            <strong>{{'shipmentView.status' | message}}</strong>
            <!-- SIGLUS-REFACTOR: starts here -->
            {{vm.order.status | orderStatus}}
            <!-- SIGLUS-REFACTOR: ends here -->
        </li>
        <!-- #365: add requisition number-->
        <li ng-if="vm.order.requisitionNumber">
            <strong>{{'shipmentView.requisitionNumber' | message}}</strong>
            {{vm.order.requisitionNumber}}
        </li>
        <!-- #365: ends here -->
        <li>
            <strong>{{'shipmentView.dateCreated' | message}}</strong>
            {{vm.order.createdDate | openlmisDate}}
        </li>
        <li>
            <strong>{{'shipmentView.program' | message}}</strong>
            {{vm.order.program.name}}
        </li>
        <li>
            <strong>{{'shipmentView.facility' | message}}</strong>
            {{vm.order.requestingFacility.name}}
        </li>
    </ul>
</aside>
<!-- #264: warehouse clerk can add product to orders-->
<div class="sub-heading">
    <h3 class="title">{{'shipmentView.products' | message}}</h3>
    <button class="add" ng-click="vm.addProducts()"
            ng-disabled="vm.order.emergency && vm.order.orderLineItems.length >= 10">
        {{'shipmentView.addProduct' | message}}
    </button>
</div>
<!-- #264: ends here -->
<section class="openlmis-table-container" id="shipmentForm" ng-submit="vm.shipment.confirm()" on-form-error="vm.getErrorMsg()">
    <quantity-unit-toggle class="is-primary quantity-unit-btn" quantity-unit="vm.quantityUnit"></quantity-unit-toggle>
    <!-- #287: Warehouse clerk can skip some products in order-->
    <h4>{{'shipmentView.skip' | message}}</h4>
    <ul>
        <li><a ng-click="vm.skipAllLineItems()">{{'shipmentView.all' | message}}</a></li>
        <li><a ng-click="vm.unskipAllLineItems()">{{'shipmentView.none' | message}}</a></li>
    </ul>
    <!-- #287: ends here-->
    <form>
        <fieldset>
            <label for="search">{{'stockReceiveCreation.keyword' | message}}</label>
            <input id="search" type="text" ng-model="vm.keyword" maxlength="50"/>
        </fieldset>
        <input id="close-filters" type="button" value="{{'openlmisTableFilter.cancel' | message}}"
               ng-click="vm.cancelFilter()"/>
        <input type="submit"
               ng-click="vm.search()"
               ng-keydown="$event.keyCode === 13 && vm.search()"
               value="{{'stockReceiveCreation.search' | message}}"/>
    </form>
    <table>
        <thead>
            <tr>
                <!-- #287: Warehouse clerk can skip some products in order-->
                <th>{{'shipmentView.skip' | message}}</th>
                <!-- #287: ends here-->
                <th>{{'shipmentView.productCode' | message}}</th>
                <th>{{'shipmentView.product' | message}}</th>
                <th>{{'shipmentView.lotCode' | message}}</th>
                <!-- #370: hide VVM Status-->
                <!--<th>{{'shipmentView.vvmStatus' | message}}</th>-->
                <!-- #370: ends here -->
                <th>{{'shipmentView.expiryDate' | message}}</th>
                <th popover="{{'shipmentView.quantitiesProvidedIn' | message}} {{vm.getSelectedQuantityUnitKey() | message}}">{{'shipmentView.orderQuantity' | message}}</th>
                <!-- #400: Facility user partially fulfill an order and create sub-order for an requisition -->
                <th>{{'shipmentView.partialFulfilledQuantity' | message}}</th>
                <!-- #400: ends here -->
                <th>{{'shipmentView.suggestedQuantity' | message}}</th>
                <th>{{'shipmentView.fillQuantityInPack' | message}}</th>
                <th popover="{{'shipmentView.quantitiesProvidedIn' | message}} {{vm.getSelectedQuantityUnitKey() | message}}">{{'shipmentView.reservedSOH' | message}}</th>
                <th popover="{{'shipmentView.quantitiesProvidedIn' | message}} {{vm.getSelectedQuantityUnitKey() | message}}">{{'shipmentView.totalSOH' | message}}</th>
                <th popover="{{'shipmentView.quantitiesProvidedIn' | message}} {{vm.getSelectedQuantityUnitKey() | message}}">{{'shipmentView.remainingSoh' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tableLineItem in vm.displayTableLineItems" ng-class="{'is-secondary': tableLineItem.isMainGroup}" empty-row="tableLineItem.noStockAvailable" empty-row-message="{{'shipmentView.noStockAvailable' | message}}" empty-row-col-span="11">
                <!-- #287: Warehouse clerk can skip some products in order-->
                <td>
                    <input type="checkbox" ng-if="tableLineItem.isMainGroup" ng-model="tableLineItem.skipped" ng-change="vm.changeSkipStatus(tableLineItem)" ng-disabled="!vm.canSkip(tableLineItem)" />
                </td>
                <!-- #287: ends here-->
                <td>{{tableLineItem.productCode}}</td>
                <td class="white-space-pre">{{tableLineItem.productName}}</td>
                <td ng-if="!tableLineItem.isLot"></td>
                <td ng-if="tableLineItem.isLot">{{tableLineItem.lot | lotCode}}</td>
                <!-- #370: hide VVM Status-->
                <!--<td>{{vm.getVvmStatusLabel(tableLineItem.vvmStatus) | message}}</td>-->
                <!-- #370: ends here -->
                <td>{{tableLineItem.lot.expirationDate | openlmisDate}}</td>
                <td>{{tableLineItem.getOrderQuantity(vm.showInDoses())}}</td>
                <!-- #400: Facility user partially fulfill an order and create sub-order for an requisition -->
                <td>{{tableLineItem.partialFulfilledQuantity}}</td>
                <td ng-if="vm.isShowSuggestedQuantity && tableLineItem.isMainGroup">{{ vm.orderableIdToSuggestedQuantity ? tableLineItem.suggestedQuantity : tableLineItem.getOrderQuantity(vm.showInDoses()) - tableLineItem.partialFulfilledQuantity }}</td>
                <td ng-if="!vm.isShowSuggestedQuantity || !tableLineItem.isMainGroup"></td>
                <!-- #400: ends here-->
                <td ng-if="!tableLineItem.shipmentLineItem">{{tableLineItem.getFillQuantity()}}</td>
                <td ng-if="tableLineItem.shipmentLineItem">
                    <!-- #287: Warehouse clerk can skip some products in order-->
                    <input ng-show="vm.shipment.isEditable()" positive-integer ng-model="tableLineItem.shipmentLineItem.quantityShipped"
                        openlmis-invalid="{{tableLineItem.shipmentLineItem.isInvalid().quantityShipped | message}}" ng-disabled="tableLineItem.skipped"/>
                    <!-- #287: ends here-->
                    <div ng-show="!vm.shipment.isEditable()">{{tableLineItem.shipmentLineItem.quantityShipped}}</div>
                </td>
                <td>{{tableLineItem.getReservedQuantity()}}</td>
                <td>{{tableLineItem.getAvailableSoh(vm.showInDoses())}}</td>
                <td>{{tableLineItem.getItemRemainingSoh(vm.showInDoses())}}</td>
            </tr>
        </tbody>
    </table>
</section>
<div ng-show="vm.shipment.isEditable()" class="openlmis-toolbar">
    <!-- #462: add back to previous button -->
    <siglus-go-back />
    <!-- #462: ends here -->
    <div class="button-group primary">
        <button ng-show="vm.shipment.canBeConfirmed()" form="shipmentForm" class="primary">{{'shipmentView.confirmShipment' | message}}</button>
        <button ng-show="vm.shipment.id" class="danger" ng-click="vm.shipment.delete()">{{'shipmentView.deleteDraftButton' | message}}</button>
    </div>
    <button ng-click="vm.shipment.save()">{{'shipmentView.saveDelete' | message}}</button>
    <button ng-show="vm.shipment.isEditable()" ng-click="vm.saveAndPrintShipment()">{{'shipmentView.generatePickPackList' | message}}</button>
</div>
<!-- #462: add back to previous button -->
<div class="openlmis-toolbar button-group" ng-if="!vm.shipment.isEditable()">
    <siglus-go-back />
</div>
<!-- #462: ends here -->
