<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    {{'shipmentView.confirmPartialFulfilled.headMessage' | message}}
                </p>
            </div>
            <div class="modal-body is-info">
                <p ng-bind-html="vm.message"></p>
            </div>
            <div class="modal-footer">
                <button class="primary" ng-click="vm.confirm(false)">
                    {{'shipmentView.confirmShipment' | message}}
                </button>
                <button class="primary" ng-click="vm.confirm(true)">
                    {{'shipmentView.confirmPartialFulfilled.createSuborder' | message}}
                </button>
                <button class="cancel" ng-click="vm.cancel()">
                    {{'shipmentView.confirmPartialFulfilled.cancel' | message}}
                </button>
            </div>
        </div>
    </div>
</div>
