.template-configure-section {
    margin-bottom: 2em;
    margin-top: 0.5em;
    td {
        i {
            font-size: 1.2em;
        }
        .add-action {
            float: right;
            cursor: pointer;
        }
        .remove-action {
            float: left;
            cursor: pointer;
        }
        i.add-disabled {
            cursor: not-allowed;
            color: grey;
        }
    }
    .edit-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: normal;
        input {
            width: 250px;
        }
    }
    button.remove-group {
        float: right;
    }
}
