<div class="requisition-template-admin">
    <div class="openlmis-table-container template-configure-section">
        <table class="openlmis-table">
            <thead>
            <tr>
                <th></th>
                <th>{{'adminProgramTemplate.display' | message}}</th>
                <th></th>
                <th>{{'adminProgramTemplate.label' | message}}</th>
                <th>{{'adminProgramTemplate.definition' | message}}</th>
                <th>{{'adminProgramTemplate.source' | message}}</th>
                <th>{{'adminProgramTemplate.additionalOptions' | message}}</th>
                <th>{{'adminProgramTemplate.action' | message}}</th>
            </tr>
            </thead>
            <tbody dnd-list="vm.section.columns">
            <tr ng-repeat="column in vm.section.columns | orderObjectBy:'displayOrder'"
                dnd-draggable="column"
                dnd-disable-if="!column.columnDefinition.canChangeOrder"
                dnd-effect-allowed="move"
                dnd-moved="vm.movedCallback($index)"
            >
                <dnd-nodrag>
                    <td ng-class="{'dnd-handle': column.columnDefinition.canChangeOrder}">
                        <i ng-if="!column.columnDefinition.canChangeOrder" class="lock"/>
                        <div ng-if="column.columnDefinition.canChangeOrder" dnd-handle class="handle">:::</div>
                    </td>
                    <td>
                        <input type="checkbox" ng-model="column.isDisplayed" ng-disabled="column.columnDefinition.isDisplayRequired">
                    </td>
                    <td>
                        <div class="circle">
                            <div class="inner-circle">{{column.indicator}}</div>
                        </div>
                    </td>
                    <td>
                        <input disable-drag type="text" ng-model="column.label" class="form-control" placeholder="{{'adminTemplate.name.placeholder' | message}}"></input>
                    </td>
                    <td>
                        <input disable-drag
                               characters-left
                               ng-maxlength="{{vm.maxColumnDescriptionLength}}"
                               ng-model="column.definition"
                               placeholder="{{'adminTemplate.definition.placeholder' | message}}"
                               class="form-control" type="text"></input>
                    </td>
                    <td>
                        <div ng-if="!vm.canChangeSource(column)">{{vm.sourceDisplayName(column.source)}}</div>
                        <div ng-if="vm.canChangeSource(column)">
                            <select ng-model="column.source"
                                    ng-options="source as vm.sourceDisplayName(source) for source in column.columnDefinition.sources"
                            ></select>
                        </div>
                    </td>
                    <td>
                        <div ng-if="vm.canAssignTag(column)">
                            <label ng-attr-for="{{$index}}">{{'adminProgramTemplate.tag' | message}}</label>
                            <select ng-attr-id="{{$index}}" ng-model="column.tag"
                                    ng-options="tag for tag in vm.availableTags[column.name] | orderBy:'toString()'"
                                    ng-change="vm.refreshAvailableTags()"
                            ></select>
                        </div>
                        <div class="error">{{vm.getSiglusColumnError(column)}}</div>
                    </td>
                    <td>
                        <i ng-if="!column.columnDefinition.id" ng-click="vm.removeColumn($index)" class="fa fa-minus-circle remove-action text-danger" aria-hidden="true"></i>
                        <i ng-if="$last" ng-click="vm.addColumn()" ng-class="{'add-disabled': vm.overMaxColumnsLength()}" class="fa fa-plus-circle add-action" aria-hidden="true"></i>
                    </td>
                </dnd-nodrag>
            </tr>
            <tr class="dndPlaceholder">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
