.page{
    //show move to correct file later
    flex-grow: 1 !important;
}
 .requisition-template-admin {
    .requisition-template-module-container {
        font-size: 20px;
        margin-bottom: 1em;
        display: flex;
        align-items: center;
        position: relative;

        input {
            font-size: 14px;
            margin: 0;
            margin-right: 6px;
        }

        a {
            text-decoration: none;
            position: absolute;
            right: 0;
        }

        &:last-child {
            margin-bottom: 5em;
        }
  }

    .openlmis-table-container {
        margin-bottom: 2em;
    }
}
