<div class="requisition-template-admin">
    <div class="requisition-template-module-container">
        <input type="checkbox" ng-model="vm.template.extension.enableConsultationNumber"/>{{'adminProgramTemplate.enableConsultationNumber' | message}}
    </div>
    <div class="requisition-template-module-container">
        <input type="checkbox" ng-model="vm.template.extension.enableKitUsage"/>{{'adminProgramTemplate.enableKitUsage' | message}}
    </div>
    <div class="requisition-template-module-container">
        <input type="checkbox" ng-model="vm.template.extension.enableProduct"/>{{'adminProgramTemplate.enableProduct' | message}}
    </div>
    <div ng-show="vm.template.extension.enableProduct">
        product preview
        <a ui-sref="openlmis.administration.requisitionTemplates.configure.product">setting</a>
    </div>
</div>
<div class="requisition-template-admin">
    <div class="requisition-template-module-container">
        <input type="checkbox" ng-model="vm.template.extension.enableRegimen"/>{{'adminProgramTemplate.enableRegimen' | message}}
    </div>
    <div class="requisition-template-module-container">
        <input type="checkbox" ng-model="vm.template.extension.enableUsageInformation"/>{{'adminProgramTemplate.enableUsageInformation' | message}}
    </div>
    <div class="requisition-template-module-container">
        <input type="checkbox" ng-model="vm.template.extension.enablePatientLineItem"/>{{'adminProgramTemplate.enablePatientLineItem' | message}}
    </div>
    <div class="requisition-template-module-container">
        <input type="checkbox" ng-model="vm.template.extension.enableRapidTestConsumption"/>{{'adminProgramTemplate.enableRapidTestConsumption' | message}}
    </div>
</div>
<div class="openlmis-toolbar">
    <input type="button" ng-click="vm.saveTemplate()" class="primary" value="{{'adminProgramTemplate.confirm' | message}}"/>
    <input type="button" ng-click="vm.goToTemplateList()" value="{{'adminProgramTemplate.cancel' | message}}">
</div>
