.openlmis-table-container {
    .ps-scrollbar-x {
        z-index: 5;
        height: 8px !important;
    }

    .ps-scrollbar-x-rail, .ps-scrollbar-x-rail:not(hover) {
        background-color: darken($light-gray, 5) !important;
        height: 8px !important;
        opacity: 1.0 !important;
        z-index: 10;
        border-radius: unset;
    }
}