<div class="requisition-regimen requisition-view-section">
    <div class="table-container-scroll-x">
        <table class="openlmis-table">
            <caption ng-if="!vm.regimenLineItems.length">{{'requisitionViewSection.noRegimen' | message}}</caption>
            <thead>
            <tr>
                <th ng-repeat="regimenColumn in vm.regimenSection.columns | orderBy : 'displayOrder'"
                    ng-if="regimenColumn.isDisplayed"
                    popover="{{regimenColumn.definition}}"
                    popover-trigger-area="element">
                    {{regimenColumn.label}}
                </th>
                <th ng-if="vm.canEdit">{{'requisitionViewSection.action' | message}}</th>
            </tr>
            </thead>
            <tbody ng-repeat="category in vm.categories | orderBy: 'displayOrder'" tbody-title="{{category.name}}">
            <tr ng-repeat="lineItem in vm.regimenLineItems | orderBy: ['regimen.code', 'regimen.fullProductName']" ng-if="lineItem.regimen.regimenCategory.name === category.name">
                <td ng-if="vm.hasCode">{{lineItem.regimen.code}}</td>
                <td>{{lineItem.regimen.fullProductName}}</td>
<!--                TODO should display by Source-->
                <td ng-if="vm.canEdit && vm.isUserInput(regimenColumn)" ng-repeat="regimenColumn in lineItem.columns | orderObjectBy: 'displayOrder'"
                    siglus-requisition-grid-cell
                    line-item-field="regimenColumn"></td>
                <td ng-if="vm.canEdit && !vm.isUserInput(regimenColumn)" ng-repeat="regimenColumn in lineItem.columns | orderObjectBy: 'displayOrder'">{{regimenColumn.value}}</td>
                <td ng-if="!vm.canEdit" ng-repeat="regimenColumn in lineItem.columns | orderObjectBy: 'displayOrder'">{{regimenColumn.value}}</td>
                <td ng-if="vm.canEdit" class="text-center">
                    <button tabindex="-1" class="danger" ng-if="lineItem.regimen.isCustom" ng-click="vm.removeRegimen(lineItem)">{{'requisitionViewSection.remove' | message}}</button>
                </td>
            </tr>
            <tr ng-if="vm.canEdit">
                <td colspan="100">
                    <button tabindex="-1" class="add" ng-click="vm.addRegimen(category.name)">{{'requisitionViewSection.addRegimen' | message}}</button>
                </td>
            </tr>
            <tr ng-if="$last">
                <td colspan="{{vm.hasCode + 1}}" class="grey-background"
                    popover="{{vm.regimenTotal.column.definition}}"
                    popover-trigger-area="element">{{vm.regimenTotal.column.label}}</td>
                <td ng-repeat-start="regimenColumn in vm.regimenTotal.columns | orderObjectBy: 'displayOrder'" ng-if="!vm.canEdit">
                    {{regimenColumn.value}}
                </td>
                <td ng-if="vm.canEdit && vm.isCalculated(vm.regimenTotal.column)" openlmis-invalid="{{regimenColumn.$error}}">{{vm.getTotal(vm.regimenLineItems, regimenColumn)}}</td>
                <td ng-repeat-end ng-if="vm.canEdit && vm.isUserInput(vm.regimenTotal.column)"
                    siglus-requisition-grid-cell
                    line-item-field="regimenColumn"></td>
                <td ng-if="vm.canEdit"></td>
            </tr>
            </tbody>
            <thead ng-if="vm.regimenSummaryLineItems.length">
                <th colspan="{{vm.regimenSection.columns.length + vm.canEdit}}">{{vm.summarySection.label}}</th>
            </thead>
            <tbody>
                <tr ng-repeat="lineItem in vm.regimenSummaryLineItems | orderBy: 'column.displayOrder'">
                    <td colspan="{{vm.hasCode + 1}}" ng-class="{'grey-background': vm.isTotal(lineItem.column)}"
                        popover="{{lineItem.column.definition}}"
                        popover-trigger-area="element">{{lineItem.column.label}}</td>
                    <td ng-repeat-start="summaryColumn in lineItem.columns | orderObjectBy: 'displayOrder'"
                        ng-if="!vm.canEdit || (vm.canEdit && !vm.isUserInput(lineItem.column)) && !vm.isCalculated(lineItem.column)">
                        {{summaryColumn.value}}
                    </td>
                    <td ng-if="vm.canEdit && vm.isCalculated(lineItem.column)" openlmis-invalid="{{summaryColumn.$error}}">{{vm.getTotal(vm.regimenSummaryLineItems, summaryColumn)}}</td>
                    <td ng-repeat-end ng-if="vm.canEdit && vm.isUserInput(lineItem.column)"
                        siglus-requisition-grid-cell
                        line-item-field="summaryColumn"></td>
                    <td ng-if="vm.canEdit"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
