.no-left-right-border-td {
  border-left: 0 !important;
  border-right: 0 !important;
}

.left-right-border-td {
  border-left: #ddd 1px solid !important;
  border-right: #ddd 1px solid !important;
}
