.requisition-kit-usage .openlmis-table,
.requisition-consultation-number .openlmis-table {
    tr {
        height: 55px;
    }
    td {
        min-width: 80px;
    }
}

.requisition-view-section {
    margin-top: 1em;
}

.requisition-patient, .requisition-regimen {
    tbody tr td {
        padding: 16px 8px;
    }
}

.requisition-regimen .openlmis-table {
    word-break: break-all;
    .category {
        font-weight: bold;
    }
    th {
        box-sizing: content-box;
        width: 152px;
    }
    &:first-child th:nth-child(2) {
        width: 180px;
    }
    &:nth-child(2) th {
        width: 161px;
        &:first-child {
            width: 389px;
        }
    }
}

