<div class="requisition-regimen requisition-view-section">
    <div class="table-container-scroll-x">
        <table class="openlmis-table">
            <caption ng-if="!vm.regimenLineItems.length">{{'requisitionViewTab.noFullSupplyProducts' | message}}</caption>
            <thead>
            <tr>
                <th ng-repeat="regimenColumn in vm.regimenSection.columns | orderBy : 'displayOrder'"
                    ng-if="regimenColumn.isDisplayed"
                    popover="{{regimenColumn.definition}}"
                    popover-trigger-area="element">
                    {{regimenColumn.label}}
                </th>
                <th ng-if="vm.canEdit">{{'requisitionViewSection.action' | message}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="(category, lineItems) in vm.regimenLineItems | groupBy: 'regimen.regimenCategory.name'">
                <td colspan="100" class="grey-background category">{{category}}</td>
            </tr>
            <tr ng-repeat="lineItem in lineItems | orderBy: ['regimen.regimenDispatchLine.displayOrder', 'regimen.fullProductName']">
                <td>{{lineItem.regimen.regimenDispatchLine.name}}</td>
                <td>{{lineItem.regimen.fullProductName}}</td>
                <td ng-if="vm.canEdit" ng-repeat="regimenColumn in lineItem.columns"
                    siglus-requisition-grid-cell
                    line-item-field="regimenColumn"></td>
                <td ng-if="!vm.canEdit" ng-repeat="regimenColumn in lineItem.columns">{{regimenColumn.value}}</td>
                <td ng-if="vm.canEdit" class="text-center">
                    <button tabindex="-1" class="danger" ng-if="lineItem.regimen.isCustom" ng-click="vm.removeRegimen(lineItem)">{{'requisitionViewSection.remove' | message}}</button>
                </td>
            </tr>
            <tr ng-repeat-end ng-if="vm.canEdit">
                <td colspan="100">
                    <button tabindex="-1" class="add" ng-click="vm.addRegimen(category)">{{'requisitionViewSection.addRegimen' | message}}</button>
                </td>
            </tr>
            <tr ng-if="vm.regimenLineItems.length">
                <td colspan="2" class="grey-background">{{'requisitionViewSection.total' | message}}</td>
                <td ng-repeat="regimenColumn in vm.regimenLineItems[0].columns | orderObjectBy: 'displayOrder'"
                    openlmis-invalid="{{vm.validateTotal(vm.regimenLineItems, regimenColumn)}}">
                    {{vm.getTotal(vm.regimenLineItems, regimenColumn)}}
                </td>
                <td ng-if="vm.canEdit"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-container-scroll-x">
        <table class="openlmis-table">
            <caption ng-if="!vm.regimenDispatchLineItems.length">{{'requisitionViewTab.noFullSupplyProducts' | message}}</caption>
            <thead>
            <tr>
                <th ng-repeat="summaryColumn in vm.summarySection.columns | orderBy : 'displayOrder'"
                    ng-if="summaryColumn.isDisplayed"
                    popover="{{summaryColumn.definition}}"
                    popover-trigger-area="element">
                    {{summaryColumn.label}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="line in vm.regimenDispatchLineItems | orderBy: 'regimenDispatchLine.displayOrder'">
                <td>{{line.regimenDispatchLine.name}}</td>
                <td ng-if="vm.canEdit" ng-repeat="summaryColumn in line.columns"
                    siglus-requisition-grid-cell
                    line-item-field="summaryColumn"></td>
                <td ng-if="!vm.canEdit" ng-repeat="summaryColumn in line.columns">{{summaryColumn.value}}</td>
            </tr>
            <tr ng-if="vm.regimenDispatchLineItems.length">
                <td class="grey-background">{{'requisitionViewSection.total' | message}}</td>
                <td ng-repeat="summaryColumn in vm.regimenDispatchLineItems[0].columns | orderObjectBy: 'displayOrder'"
                    openlmis-invalid="{{vm.validateTotal(vm.regimenDispatchLineItems, summaryColumn)}}">{{vm.getTotal(vm.regimenDispatchLineItems, summaryColumn)}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
