$res-xs: 320px;
$res-sm: 576px;

.modal-body {
  background-image: url("openlmis-auth/CMAM-logo.png");
  background-size: 40% auto;
  background-position: 2em 45%;
  background-repeat: no-repeat;
  @media screen and (max-width: $res-sm) {
    background-size: 30% auto;
  }

  padding: 1em 1em 1em 50% !important;

  & > .form-desc,
  & > form > fieldset {
    width: 100%;
  }

  & > form > .alert {
    flex: initial;
  }
  & > form > .input-control{
    width: 100%;
  }
  .form-group .input-control{
    @media screen and (max-width: $res-sm) {
      width: 100%;
    }
  }

  .button-group {
    @media screen and (max-width: $res-sm) {
      overflow: hidden;
      display: grid;
    }
    @media screen and (max-width: $res-xs) {
      position: relative;
      right: 0px;
      bottom: 0px;
    }
  }
}

.modal-header {
  align-items: center;
  background-image: linear-gradient(to bottom, $white 30%, $light-gray 100%);
  border-bottom: 1px solid $light-gray;
  border-radius: $border-radius $border-radius 0 0;
  display: flex;
  padding: 0.5em 1em !important;
  overflow: hidden;

  & > h1 {
    margin-right: auto;
    word-break: normal !important;
  }

  button {
    margin: 0px 1em;
    min-width: 110px;
    max-height: 40px;
    @media screen and (max-width: $res-xs) {
      display: flex;
      min-width: 12px;
    }
  }
}