<h2 ng-show="vm.facility">{{ vm.key('title') | message: {'facility': vm.facility.name} }}</h2>
<section class="openlmis-table-container">
    <table>
        <caption ng-if="!vm.programs.length">{{vm.key('noProgramAvailable') | message}}
        </caption>
        <thead>
        <tr>
            <th style="min-width: 160px;">{{vm.key('program') | message}}</th>
            <th style="min-width: 160px;">{{vm.key('status') | message}}</th>
            <th style="min-width: 160px;">{{vm.key('sourceDestination') | message}}</th>
            <th style="min-width: 160px;">{{'stockIssue.documentNumber' | message}}</th>
            <th>{{vm.key('action') | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="draft in vm.initialDraftInfo">
            <td style="min-width: 160px;">{{vm.program.name}}</td>
            <td style="min-width: 160px;" >{{vm.key(draft.hasExistInitialDraft ? 'draft' : 'notStarted') | message}}</td>
            <!-- SIGLUS-REFACTOR: change adjustment/issue/receive entry page-->
            <td>{{draft.destinationName || draft.sourceName}}</td>
            <td>GRE:{{draft.documentNumber}}</td>
            <td ng-if="draft.hasExistInitialDraft">

                <input
                        id="continueButton"
                        type="button"
                        value="{{'stockIssue.continue' | message}}"
                        class="primary"
                        ng-click="vm.proceedForIssue(draft)"
                />
            </td>
            <td ng-if="!draft.hasExistInitialDraft">
                <input
                        id="startButton"
                        type="button"
                        value="{{'stockIssue.issueStart' | message}}"
                        class="primary"
                        ng-click="vm.start(program)"
                />
            <!-- SIGLUS-REFACTOR: ends here -->
            </td>
        </tr>
        </tbody>
        <button class="pull-right add" ng-click="vm.addNewIssue()">
            {{vm.key('create') | message}}
        </button>
    </table>
</section>
