<h2>{{'issueDraft.receiveFromTitle' | message: {
    destination: vm.sourceName || '',
    document: vm.initialDraftInfo.documentNumber || ''
} }}
</h2>

<div class="stock-adjustment-creation">
    <section class="openlmis-table-container">
        <form>
            <fieldset>
                <label for="search">{{'stockIssueCreation.keyword' | message}}</label>
                <input id="search" type="text" ng-model="vm.keyword" maxlength="50"/>
            </fieldset>

            <input id="close-filters" type="button" value="{{'openlmisTableFilter.cancel' | message}}"
                   ng-click="vm.cancelFilter()"/>
            <input type="submit"
                   ng-click="vm.search()"
                   ng-keydown="$event.keyCode === 13 && vm.search()"
                   value="{{'stockReceiveCreation.search' | message}}"/>
        </form>
        <section class="is-primary">
            <form class="form-inline" ng-submit="vm.addProduct()" name="productForm">
                <div>
                    <label for="productSelect">{{'stockIssueCreation.product' | message}}</label>
                    <select id="productSelect" ng-model="vm.selectedProduct"
                            ng-options="(product | siglusArchivedProductName) for product in vm.productList"
                            required>
                    </select>
                </div>
                <button type="submit" class="add">{{'stockIssueCreation.add' | message}}</button>
            </form>
        </section>
        <table id="locationIssueForm" suppress-tr-openlmis-invalid>
            <caption ng-if="!vm.displayItems.length">{{'stockIssueCreation.noProducts' | message}}</caption>
            <thead>
            <tr>
                <th>{{'stockIssueCreation.productCode' | message}}</th>
                <th>{{'stockIssueCreation.productName' | message}}</th>
                <th>{{'stockIssueCreation.lotCode' | message}}</th>
                <th>{{'stockIssueCreation.expiryDate' | message}}</th>
                <th>{{'stockPhysicalInventoryDraft.location' | message}}</th>
                <th>{{'stockIssueCreation.soh' | message}}</th>
                <th>{{'stockIssueCreation.quantity' | message}}</th>
                <th>{{'stockIssueCreation.actions' | message}}</th>
            </tr>
            </thead>
            <tbody ng-repeat="lineItems in vm.items">
            <tr ng-repeat="(index, lineItem) in lineItems">
                <td>{{lineItem.isMainGroup ? lineItem.productCode : ''}}</td>
                <td>{{lineItem.isMainGroup ? lineItem.productName : ''}}</td>
                <td ng-if="vm.showEmptyBlockWithKit(lineItem, lineItems, index)"></td>
                <td ng-if="!vm.showEmptyBlockWithKit(lineItem, lineItems, index)">
                    <siglus-stock-input-select
                            line-items="lineItems"
                            line-item="lineItem"
                            index="index"
                            hide-expired-popover="true"
                            enable-input="true">
                    </siglus-stock-input-select>
                </td>
                <td ng-if="vm.showEmptyBlockWithKit(lineItem, lineItems, index)"></td>
                <td ng-if="!vm.showEmptyBlockWithKit(lineItem, lineItems, index)">
                    <input
                            openlmis-invalid="{{lineItem.lot.id ? '' : lineItem.$errors.lotDateInvalid}}"
                            type="date"
                            ng-model="lineItem.lot.expirationDate"
                            ng-disabled="lineItem.lot.id"
                            ng-change="vm.changeExpirationDate(lineItem, lineItems, index)"
                            autocomplete="off"/>
                </td>
                <td ng-if="vm.showEmptyBlock(lineItems, index)"></td>
                <td ng-if="!vm.showEmptyBlock(lineItems, index)">
                    <div class="receive-location-area">
                        <select
                                noPlaceholder
                                placeholder="  "
                                no-auto-select="false"
                                ng-model="lineItem.moveTo.area"
                                openlmis-invalid="{{lineItem.$errors.areaError | message}}"
                                ng-options="area for area in lineItem.destAreaOptions track by area"
                                ng-change="vm.changeArea(lineItem, lineItems)">
                        </select>
                        <siglus-location-select
                                line-item="lineItem"
                                line-items="lineItems"
                                area-location-info="vm.areaLocationInfo"
                                error-field="'$errors'"
                                index="index"></siglus-location-select>
                    </div>

                </td>
                <td class="text-align-right">{{vm.getStockOnHand(lineItems, index)}}</td>
                <td ng-if="vm.showEmptyBlock(lineItems, index)">{{vm.getQuantity(lineItems)}}</td>
                <td ng-if="!vm.showEmptyBlock(lineItems, index)" class="digit-cell">
                    <input class="form-control min-width-input" ng-model="lineItem.quantity"
                           openlmis-invalid="{{lineItem.$errors.quantityError || '' | message}}"
                           ng-class="{'error': lineItem.$errors.quantityInvalid}"
                           ng-change="vm.changeQuantity(lineItem)"
                           positive-integer/>
                </td>
                <td style="max-width: 170px;">
                    <button
                            ng-if="lineItem.isMainGroup" class="stock-actions add"
                            ng-click="vm.addItem(lineItem, lineItems)">{{'locationShipmentView.addItem' | message}}
                    </button>
                    <button
                            class="danger stock-actions"
                            ng-if="!lineItem.isMainGroup || (lineItem.isMainGroup && lineItems.length === 1)"
                            ng-click="vm.removeItem(lineItems, index)">{{'stockPhysicalInventoryDraft.remove' | message}}
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <openlmis-pagination list="vm.displayItems" paged-list="vm.items"/>
    </section>
</div>

<ng-include src="'siglus-issue-or-receive-report/siglus-issue-or-receive-report.html'"></ng-include>

<siglus-common-toolbar
        data="vm.addedLineItems"
        mode="vm.isMerge ? 'MERGE' : 'SAVE'"
        on-cancel="vm.cancelMerge()"
        on-delete="vm.removeDisplayItems()"
        on-save="vm.save()"
        on-submit="vm.submit()">
</siglus-common-toolbar>

