<ng-include src="'openlmis-header/header.html'"></ng-include>
<div ui-view ng-class="{'navbar': true, 'navbar-offline': isOffline}">
    <openlmis-navigation root-state="openlmis" class="nav navbar-nav"></openlmis-navigation>
    <openlmis-logout class="navbar-right"></openlmis-logout>
    <openlmis-locale class="navbar-right locale-container"></openlmis-locale>
    <div class="net-status-container">
        <div ng-if="isOffline" class="net-status-title">Network unavailable</div>
        <div ng-if="!isOffline" class="net-status-title">Network available</div>
        <div ng-if="isOffline" class="net-status-light"></div>
        <div ng-if="!isOffline" class="net-status-light" style="background-color: #2FCF3F;"></div>
    </div>
</div>
