<div id="print-form" class="print-form">

	<table id="header-section" class="border-all-bold head-section">
		<tbody id="header">
		<tr>
			<td rowspan="4" class="background-black left-header"></td>
			<td class="col-1">
				<span class="view-table-logo"></span>
			</td>
			<td colspan="4" style="padding-left: 4px;">
				<h6>{{ 'stockPhysicalInventoryHistory.republicOfMozambique' | message }}</h6>
				<h6>{{ 'stockPhysicalInventoryHistory.ministryOfHealth' | message }}</h6>
				<h6>{{ 'stockPhysicalInventoryHistory.centralMedicinesAndMedicalArticles' | message }}</h6>
			</td>
			<td colspan="4" class="col-5">
				<h2 style="font-weight: 800;">{{ 'stockPhysicalInventoryHistory.title' | message: {'programName': vm.historyData.program} }}</h2>
			</td>
			<td class="col-2">
				&nbsp;
				<span>{{'stockPhysicalInventoryHistory.month' | message}}: </span>
				<span> </span>{{vm.creationDate.monthFullName}}
			</td>
		</tr>
		<tr>
			<td colspan="5" style="padding-left: 4px;">
				<span>{{'stockPhysicalInventoryHistory.province' | message}}</span>: {{vm.historyData.province}}
			</td>
			<td colspan="4"></td>
			<td rowspan="3">
				&nbsp;
				<span>{{'stockPhysicalInventoryHistory.year' | message}}: </span>
				<span>{{vm.creationDate.year}}</span>
			</td>
		</tr>
		<tr>
			<td style="padding-left: 4px;" colspan="5">
				<span>{{'stockPhysicalInventoryHistory.district' | message}}</span>: {{vm.historyData.district}}
			</td>
			<td colspan="5"></td>
		</tr>
		<tr class="">
			<td colspan="5">
				<span>{{'stockPhysicalInventoryHistory.healthFacility'| message}}</span>
				<span>: {{vm.historyData.healthFacility}}</span>
			</td>
			<td colspan="5"></td>
		</tr>
		<tr>
			<td colspan="11"></td>
		</tr>
		</tbody>
	</table>

	<table id="lineItem-section" class="border-all-bold head-section">

		<thead id="lineItem-header">
			<tr class="text-bold">
				<th class="text-center grey" ng-if="vm.inventoryByLocation">
					{{'stockPhysicalInventoryHistory.location' | message}}
				</th>
				<th class="text-center grey">{{'stockPhysicalInventoryHistory.productCode' | message}}</th>
				<th class="text-center grey" ng-style="{'width' : '25%'}">{{'stockPhysicalInventoryHistory.product' | message}}</th>
				<th class="text-center grey">{{'stockPhysicalInventoryHistory.lotCode' | message}}</th>
				<th class="text-center grey">{{'stockPhysicalInventoryHistory.expiryDate' | message}} </th>
				<th class="text-center grey" ng-if="vm.inventoryByProduct">
					{{'stockPhysicalInventoryHistory.location' | message}}
				</th>
				<th class="text-center grey">{{'stockPhysicalInventoryHistory.stockOnHand' | message}}</th>
				<th class="text-center grey">{{'stockPhysicalInventoryHistory.currentStock' | message}}</th>
				<th class="text-center grey" colspan="4">{{'stockPhysicalInventoryHistory.reasons' | message}}</th>
				<th class="text-center grey">{{'stockPhysicalInventoryHistory.comments' | message}}</th>
			</tr>
		</thead>

		<tbody>
			<tr id="calcTr" ng-repeat="item in vm.historyData.lineItemsData">
				<td class="normal-td green-dark" ng-if="vm.inventoryByLocation">{{item.location}}</td>
				<td class="normal-td green-dark">{{item.productCode}}</td>
				<td class="normal-td green-dark" style="width: 25%">{{item.productName}}</td>
				<td class="normal-td">{{item.lotCode}}</td>
				<td class="normal-td">{{item.expirationDate}}</td>
				<td class="normal-td" ng-if="vm.inventoryByProduct">{{item.location}}</td>
				<td class="normal-td">{{item.stockOnHand}}</td>
				<td class="normal-td">{{item.currentStock}}</td>
				<td class="normal-td" colspan="4">
					<p>{{ item.reasons ? item.reasons.reason : '' }}</p>
					<p ng-style="{'color' : 'red'}">{{ item.reasons ? vm.service.buildDiffReasonMessage(item) : '' }}</p>
				</td>
				<td class="normal-td">{{item.comments}}</td>
			</tr>
		</tbody>

		<tbody id="footer">
		<tr>
			<td style="height: 48px; vertical-align: top;" colspan="2">
				{{'stockPhysicalInventoryHistory.submittedBy' | message}}: {{vm.historyData.submittedBy}}
			</td>
			<td style="vertical-align: top;" colspan="3">
				{{'stockPhysicalInventoryHistory.signature' | message}}: {{vm.historyData.signature}}
			</td>
			<td style="vertical-align: top;" colspan="7">
				{{'stockPhysicalInventoryHistory.dateOfCreation' | message}}: {{vm.creationDate.dateInShort}}
			</td>
		</tr>
		</tbody>
	</table>

	<div id="outer">
		<div class="outer-section">
			<div>
				{{ 'stockPhysicalInventoryHistory.title' | message: {'programName': vm.historyData.program} }}
			</div>
			<div>
				Versão 001 Setembro 2022
			</div>
		</div>
	</div>

	<div id="download-pdf-section" class="align-right" style="clear: both;">
		<button class="btn btn-primary btn-download btn-download-pdf" ng-click="vm.downloadPdf()">
			{{ 'stockPhysicalInventoryHistory.downloadPDF' | message }}
		</button>
	</div>
</div>
