.openlmis-toolbar .button-group .siglus-btn-disable {
  cursor: not-allowed;
  color: #BBB;
}

.openlmis-toolbar .button-group .primary.siglus-btn-disable {
  cursor: not-allowed;
  color: #d3d3d3;
  background: #83B5CB;
  text-shadow: none;
}
