<h2>{{'issueDraft.issueToTitle' | message: {
    destination: vm.destinationName || '',
    document: vm.issueToInfo.documentNumber || ''} }}</h2>

<div class="stock-adjustment-creation">
    <section class="openlmis-table-container">
        <form ng-submit="vm.search()">
            <fieldset>
                <label for="search">{{vm.key('keyword') | message}}</label>
                <input id="search" type="text" ng-model="vm.keyword" maxlength="50"/>
            </fieldset>

            <!-- SIGLUS-REFACTOR: starts here -->
            <input id="close-filters" type="button" value="{{'openlmisTableFilter.cancel' | message}}" ng-click="vm.doCancelFilter()"/>
            <!-- SIGLUS-REFACTOR: ends here -->
            <input type="submit" value="{{vm.key('search') | message}}"/>
        </form>
        <section class="is-primary">
            <form class="form-inline" ng-submit="vm.addProduct()" name="productForm">
                <div>
                    <label for="productSelect">{{vm.key('product') | message}}</label>
                    <select id="productSelect" ng-model="vm.selectedOrderableGroup"
                            ng-options="orderableGroup[0].orderable.fullProductName for orderableGroup in vm.orderableGroups track by orderableGroup[0].orderable.fullProductName"
                            ng-change="vm.orderableSelectionChanged()"
                            required>
                    </select>
                </div>
                <div ng-if="vm.selectedOrderableHasLots">
                    <label for="lotSelect">{{'stockAddProductsModal.lotCode' | message}}</label>
                    <select id="lotSelect" ng-model="vm.selectedLot"
                            ng-options="lot as vm.selectedLotLabel(lot) for lot in vm.lots | orderBy :'expirationDate'" required>
                    </select>
                </div>
                <button type="submit" class="add">{{vm.key('add') | message}}</button>
            </form>
        </section>
        <table suppress-tr-openlmis-invalid>
            <caption ng-if="!vm.displayItems.length">{{vm.key('noProducts') | message}}</caption>
            <thead>
            <tr>
                <th>{{vm.key('productCode') | message}}</th>
                <th>{{vm.key('productName') | message}}</th>
                <th>{{vm.key('lotCode') | message}}</th>
                <th>{{vm.key('expiryDate') | message}}</th>
                <th>{{vm.key('soh') | message}}</th>
                <th>{{vm.key('quantity') | message}}</th>
                <th ng-if="vm.showVVMStatusColumn">{{vm.key('vvmStatus') | message}}</th>
                <th>{{vm.key('date') | message}}</th>
                <th>{{vm.key('actions') | message}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="lineItem in vm.items">
                <td>{{lineItem.orderable.productCode}}</td>
                <td>{{lineItem.orderable | productName}}</td>
                <td>{{lineItem.lot.lotCode}}</td>
                <td>{{lineItem.lot.expirationDate | openlmisDate}}</td>
                <td class="text-align-right">{{lineItem.$previewSOH}}</td>
                <td openlmis-invalid="{{lineItem.$errors.quantityInvalid}}" class="digit-cell">
                    <input class="form-control min-width-input" ng-model="lineItem.quantity"
                           ng-class="{'error': lineItem.$errors.quantityInvalid}"
                           ng-change="vm.validateQuantity(lineItem)" ng-blur="vm.validateQuantity(lineItem)" positive-integer/>
                </td>
                <td ng-if="vm.showVVMStatusColumn">
                    <select ng-if="lineItem.orderable.extraData.useVVM == 'true'"
                            ng-model="lineItem.vvmStatus"
                            ng-options="status as vm.getStatusDisplay(status) for status in vm.vvmStatuses"
                            placeholder="{{'stockAdjustmentCreation.selectStatus' | message}}">
                    </select>
                </td>
                <td class="date-cell">
                    <input id="lineItem.occurredDate" class="min-width-date-input" type="date" ng-model="lineItem.occurredDate"
                           ng-change="vm.validateDate(lineItem)" max-date="vm.maxDate" required/>
                </td>
                <td>
                    <button type="button" class="danger" ng-click="vm.remove(lineItem)">{{vm.key('remove') | message}}</button>
                </td>
            </tr>
            </tbody>
        </table>
        <openlmis-pagination list="vm.displayItems" paged-list="vm.items"/>
    </section>
</div>

<div id="waitDownload" class="wait-for-download">
    <table cellpadding="0" cellspacing="0">
        <tr>
          <td rowspan="4" class="background-black banner-text black-width">
            <div class="banner-text text-nowrap">CMAM - Modelo 02</div>
          </td>
          <td  class="logo--center"><span class="view-table-logo"></span></td>
          <td class="text__left">
            <h6 openlmis-message="view.rnr.republic.of.mozambique">
              {{ 'rapid.republic_of_mozambique' | message }}
            </h6>
            <h6 openlmis-message="view.rnr.ministry.of.health">
              {{ 'rapid.ministry_of_health' | message }}
            </h6>
            <h6 openlmis-message="view.rnr.central.medicines.and.medical.arricles">
              {{ 'rapid.central_medicines_and_medical_articles' | message }}
            </h6>
          </td>
          <td class="report--title width-348">
            <span class="report--title-font">
              Issue Voucher Nº
            </span>
          </td>
        </tr>
        <tr>
          <td class="text__left">Supplier</td>
          <td class="text__left">Client</td>
          <td rowspan="2" class="text__left">Supply</td>
        </tr>
        <tr>
          <td class="text__left">District</td>
          <td class="text__left">Requisition Nr</td>
        </tr>
        <tr>
          <td class="text__left"></td>
          <td class="text__left">Total of volume</td>
          <td rowspan="3" class="text__left">Returned</td>
          <td rowspan="3" class="text__left">Expired Overstocked</td>
        </tr>
        <tr>
          <td class="text__left"></td>
          <td class="text__left">Requisition date</td>
        </tr>
        <tr>
          <td class="text__left">Province</td>
          <td class="text__left">Issue voucher date</td>
        </tr>
      </table>
</div>
<ng-include src="'stock-adjustment-creation/adjustment-creation-toolbar.html'"></ng-include>
