.is-primary{

  .form-inline{
    display: flex;
    align-items: center;
  }

  .lot-select-section {
    display: flex;
    align-items: center;
  }

  .lot-select {
    display: inline-block;
    border: 0;
  }
}
