<div class="openlmis-table-container requisition-kit-usage fix-height">
    <table class="openlmis-table">
        <tbody>
        <tr ng-repeat="lineItem in vm.lineItems | orderBy : 'displayOrder'">
            <td popover="{{lineItem.definition}}" popover-trigger-area="element">{{lineItem.label}}</td>
            <td ng-repeat-start="serviceColumn in lineItem.services | orderObjectBy : 'displayOrder'"
                popover="{{serviceColumn.definition}}"
                popover-trigger-area="element">
                {{serviceColumn.label}}
            </td>
            <td ng-if="!vm.isUserInput(serviceColumn, lineItem)">
                {{serviceColumn.value}}
            </td>
            <td ng-if="vm.isUserInput(serviceColumn, lineItem)"
                siglus-requisition-grid-cell
                line-item-field="serviceColumn"
                ng-repeat-end></td>
        </tr>
        </tbody>
    </table>
</div>
