<div class="usage-information-preview openlmis-table-container">
    <table class="openlmis-table">
        <tbody>
        <tr>
            <td colspan={{vm.monthOrYearColspan}} class="grey-background">{{'requisitionViewSection.usageInformation.MonthOrYear' | message}}{{": "}}{{vm.processingPeriodEndDate | openlmisDate | limitTo:-7}}</td>
        </tr>
        <tr>
            <td rowspan="2"></td>
            <td class="bold-label"
                ng-repeat="information in vm.firstService.informations | orderObjectBy : 'displayOrder'"
                colspan={{vm.informationColspan}}
                popover="{{information.definition}}"
                popover-trigger-area="element">{{information.label}}</td>
        </tr>
        <tr class="product">
            <td ng-repeat-start="information in vm.firstService.informations | orderObjectBy : 'displayOrder'" ng-if="false"></td>
            <td ng-repeat-end ng-repeat="orderable in information.orderables | siglusOrderObjectBy : 'fullProductName'" ng-class="{'row-span-border': $first}">{{orderable.fullProductName}}</td>
        </tr>
        <tr ng-repeat="lineItem in vm.lineItems | orderBy : 'displayOrder'">
            <td ng-class="{'grey-background': vm.isTotal(lineItem)}" popover="{{lineItem.definition}}" popover-trigger-area="element">{{lineItem.label}}</td>
            <td ng-repeat-start="information in lineItem.informations | orderObjectBy : 'displayOrder'" ng-if="false"></td>
            <td ng-repeat="orderable in information.orderables | siglusOrderObjectBy : 'fullProductName'"
                openlmis-invalid="{{orderable.$error}}" ng-class="{'is-invalid': orderable.$error, 'has-popover': orderable.$error}"
                ng-if="!(vm.canEdit && vm.isUserInput(lineItem))"
            >
                <div ng-if="vm.canEdit && !vm.isUserInput(lineItem)">{{vm.getTotal(information.name, orderable.id)}}</div>
                <div ng-if="!vm.canEdit">{{orderable.value}}</div>
            </td>
            <td ng-repeat-end ng-repeat="orderable in information.orderables | siglusOrderObjectBy : 'fullProductName'"
                ng-if="vm.canEdit && vm.isUserInput(lineItem)" siglus-requisition-grid-cell line-item-field="orderable"
            />
        </tr>
        </tbody>
    </table>
</div>
