<div class="requisition-regimen">
    <table class="openlmis-table">
        <thead>
        <tr>
            <th ng-repeat="regimenColumn in vm.regimenSection.columns | orderBy : 'displayOrder'"
                ng-if="regimenColumn.isDisplayed"
                popover="{{regimenColumn.definition}}"
                popover-trigger-area="element">
                {{regimenColumn.label}}
            </th>
            <th ng-if="vm.canEdit">{{'requisitionViewSection.action' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="(category, lineItems) in vm.regimenLineItems | groupBy: 'regimen.regimenCategory.name'">
            <td colspan="100" class="grey-background category">{{category}}</td>
        </tr>
        <tr ng-repeat="lineItem in lineItems | orderBy: ['regimen.regimenDispatchLine.displayOrder', 'regimen.fullProductName']">
            <td>{{lineItem.regimen.regimenDispatchLine.name}}</td>
            <td>{{lineItem.regimen.fullProductName}}</td>
            <td ng-repeat="regimenColumn in lineItem.columns"
                siglus-requisition-grid-cell
                line-item-field="regimenColumn"></td>
            <td ng-if="vm.canEdit" class="text-center">
                <button class="danger" ng-if="lineItem.regimen.isCustom" ng-click="vm.removeRegimen(lineItem)">{{'requisitionViewSection.remove' | message}}</button>
            </td>
        </tr>
        <tr ng-repeat-end ng-if="vm.canEdit">
            <td colspan="100">
                <button class="add" ng-click="vm.addRegimen(category)">{{'requisitionViewSection.addRegimen' | message}}</button>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="grey-background">{{'requisitionViewSection.total' | message}}</td>
            <td ng-repeat="regimenColumn in vm.regimenLineItems[0].columns | orderObjectBy: 'displayOrder'">{{vm.getTotal(vm.regimenLineItems, regimenColumn)}}</td>
            <td ng-if="vm.canEdit"></td>
        </tr>
        </tbody>
    </table>
    <table class="openlmis-table">
        <thead>
        <tr>
            <th ng-repeat="summaryColumn in vm.summarySection.columns | orderBy : 'displayOrder'"
                ng-if="summaryColumn.isDisplayed"
                popover="{{summaryColumn.definition}}"
                popover-trigger-area="element">
                {{summaryColumn.label}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="line in vm.regimenDispatchLineItems | orderBy: 'regimenDispatchLine.displayOrder'">
            <td>{{line.regimenDispatchLine.name}}</td>
            <td ng-repeat="summaryColumn in line.columns"
                siglus-requisition-grid-cell
                line-item-field="summaryColumn"></td>
        </tr>
        <tr>
            <td class="grey-background">{{'requisitionViewSection.total' | message}}</td>
            <td ng-repeat="summaryColumn in vm.regimenDispatchLineItems[0].columns | orderObjectBy: 'displayOrder'">{{vm.getTotal(vm.regimenDispatchLineItems, summaryColumn)}}</td>
        </tr>
        </tbody>
    </table>
</div>
