<div class="modal with-location add-products-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 1040px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    {{'stockAddProductsModalWithLocation.title' | message:({locationCode: vm.locationCode})}}
                </h4>
            </div>

            <div class="modal-body">
                <form name="productForm" class="form-inline" ng-submit="vm.addOneProduct()">
                    <!-- SIGLUS-REFACTOR: Add max-width-form-group and limit width for add product model-->
                    <div class="form-group max-width-form-group">
                    <!-- SIGLUS-REFACTOR: ends here -->
                        <label for="productSelect">{{'stockAddProductsModal.product' | message}}</label>
                        <!-- #105: activate archived product-->
                        <select
                            id="productSelect"
                            ng-model="vm.selectedOrderableGroup"
                            ng-options="(orderableGroup[0].orderable | siglusArchivedProductName) for orderableGroup in (vm.orderableGroups | siglusOrderByArchived)"
                            ng-change="vm.orderableSelectionChanged()"
                            required
                        >
                        </select>
                        <!-- #105: ends here -->
                    </div>
                    <!-- SIGLUS-REFACTOR: Ticket 5: add product without lot -->
                    <div class="form-group max-width-form-group">
                        <label for="lotSelect">{{'stockAddProductsModalWithLocation.lot' | message}}</label>
                        <siglus-stock-input-select
                            real-required="true"
                            id="lotSelect"
                            comp-id="lotSelect"
                            style="width: auto;"
                            line-item="vm.selectedItem"
                            enable-input="true"
                            disabled="vm.isKit"
                        >
                        </siglus-stock-input-select>
                    </div>
                    <!-- SIGLUS-REFACTOR: ends here -->
                    <fieldset class="form-group max-width-form-group">
                        <label for="dateSelect">{{ 'stockAddProductsModalWithLocation.expiryDate' | message }}</label>
                        <input
                            id="dateSelect"
                            type="date"
                            class="min-width-date-input"
                            ng-blur="vm.validExpirationDate(vm.selectedItem)"
                            ng-change="vm.expirationDateChanged(vm.selectedItem)"
                            ng-model="vm.selectedItem.lot.expirationDate"
                            ng-disabled="vm.isKit"
                            ng-required="!vm.isKit"
                        />
                    </fieldset>
                    <!-- SIGLUS-REFACTOR: Add stock-actions and fix width for add button-->
                    <button type="submit" class="add stock-actions">{{'stockAddProductsModal.add' | message}}</button>
                    <!-- SIGLUS-REFACTOR: ends here -->
                </form>
                <section class="openlmis-table-container">
                    <table>
                        <thead>
                        <tr>
                            <th>{{'stockAddProductsModal.productCode' | message}}</th>
                            <th>{{'stockAddProductsModal.product' | message}}</th>
                            <!-- SIGLUS-REFACTOR: Ticket 5: add product without lot -->
                            <th>{{ 'stockAddProductsModalWithLocation.lot' | message }}</th>
                            <th>{{ 'stockAddProductsModalWithLocation.expiryDate' | message }}</th>
                            <!-- <th ng-if="vm.hasLot">{{'stockAddProductsModal.expiryDate' | message}}</th> -->
                            <!-- SIGLUS-REFACTOR: ends here -->
                            <th ng-if="!vm.withLocation">{{'stockAddProductsModal.currentStock' | message}}</th>
                            <th>{{'stockAddProductsModal.actions' | message}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(index, item) in vm.addedItems">
                            <td>{{item.orderable.productCode}}</td>
                            <td>{{item.orderable.fullProductName}}</td>
                            <!-- SIGLUS-REFACTOR: Ticket 5: add product without lot -->
                            <td>{{item.lot.lotCode}}</td>
                            <td>{{item.lot.expirationDate | openlmisDate}}</td>
                            <!-- SIGLUS-REFACTOR: ends here -->
                            <td ng-if="!vm.withLocation" openlmis-invalid="{{item.quantityInvalid}}" class="digit-cell">
                                <input positive-integer
                                       ng-class="{'error': item.quantityInvalid}"
                                       class="form-control"
                                       ng-model="item.quantity"
                                       ng-change="vm.validate(item)" />
                            </td>
                            <td>
                                <input type="button" class="danger" ng-click="vm.removeAddedProduct(item, index)"
                                       value="{{'stockAddProductsModal.remove' | message}}"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div>

            <div class="modal-footer">
                <button ng-click="$hide()">{{'stockAddProductsModal.cancel' | message}}</button>
                <button ng-click="vm.confirm()" class="primary">
                    <!-- {{'stockAddProductsModal.addProducts' | message: {'num': vm.addedItems.length} }} -->
                    {{ 'stockAddProductsModalWithLocation.confirm' | message }}
                </button>
            </div>

        </div>
    </div>
</div>
