.home-page{
    flex-direction: column;
    justify-content: center;
    align-items: center!important;

    &::after{
        content: none!important;
    }

    .bg {
        background-image: url("openlmis-home/CMAM-logo.png");
        background-repeat: no-repeat;
        background-position: left 45% bottom 50%;
        background-size: 100% 100%;
        width: 695px;
        height: 269px;
    }

    .usaid{
        background-image: url("openlmis-home/usaid-logo.png");
        background-repeat: no-repeat;
        position: absolute;
        background-size: 100% 100%;
        right: 40px;
        bottom: 40px;
        width: 170px;
        height: 100px;
    }
    .power-container {
        position: absolute;
        left: 36px;
        bottom: 40px;
        .power-title {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            margin-bottom: 5px;
        }
        .power-btn-group {
            display: flex;
            align-items: center;
            font-size: 14px;
            margin-bottom: 30px;
            button {
                width: fit-content;
                height: 36px;
            }
        }
        .power {
            text-align: left;
            font-size: 12px;
            font-weight: bold;
            color: #000000;
        }
    }

    .offline-container {
        position: absolute;
        top: 27px;
        left: 36px;
        text-align: left;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;

        .sync-button-and-tips {
            display: flex;
            align-items: baseline;

            .sync-tips {
                margin-top: 10px;
                margin-left: 10px;
                font-family: 'Arial';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                color: #2FCF3F;
                margin-bottom: 10px;
                padding: 10px;
                .warning {
                    color: #f7941d;
                    max-height: 300px;
                    overflow: scroll;
                    -ms-overflow-style: none;
                    width: 668px;
                }
                .error {
                    color: #d25555;
                    max-height: 300px;
                    overflow: scroll;
                    -ms-overflow-style: none;
                    width: 668px;
                }
                .warning::-webkit-scrollbar,
                .error::-webkit-scrollbar {
                    display: none;
                }
            }
        }

    }

    .sync-error-item {
        margin-top: 10px;
        .sync-error-item-line{
            width: 648px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .system-notification-list {
        position: absolute;
        top: 1.2em;
        right: 1.2em;
        text-align: right;
        width: calc(300px + 10%);

        h2 {
            margin-top: 0px;
            text-align: right;
            font-size: 22px;
            color: #58585a;
        }

        .scroll {
            .message {
                .title {
                    p {
                        margin: 0px;
                    }
                }
            }
        }
    }

    label.primary {
        margin-top: 10px;
        cursor: pointer;
        display: block;
        width: fit-content;
        height: 36px;
        padding: 8px 16px;
        border-radius: 4px;
        border-top: #3A95BC 1px solid;
        border-right: #3A95BC 1px;
        border-left: #3A95BC 1px solid;
        border-bottom: #3A95BC 1px solid;
        color: #fff;
        text-shadow: 0px 0px 0.1em #333;
        background: #3A95BC;
        background-image: linear-gradient(to bottom, #5cabcd, #49a1c7 10%, #3A95BC);
        margin-bottom: 0;
        font-weight: bold;
        &[disabled='disabled'] {
            background: #979797;
            cursor: not-allowed;
            border: none;
        }
    }

    button:disabled{
        background: #979797 !important;
        cursor: not-allowed;
        border: none;
    }

    #fileupload {
        display: none;
    }

    .openlmis-file-upload {
        display: none;
    }
    button.primary {
        margin-top: 10px;
        font-weight: bold;
    }


    .version {
        text-align: left;
        font-size: 12px;
        font-weight: bold;
        color: #000000;
        padding-bottom: 6px;
    }

    .openlmis-app-cache {
        font-size: 12px;
        font-weight: bold;
        color: #000000;
    }
}

button[disabled='disabled'] {
    cursor: not-allowed;
    border: none;
}
