<div class="home-page">
    <!-- SIGLUS-REFACTOR: Add background-->
    <div class="bg"></div>
    <!-- SIGLUS-REFACTOR: ends here -->
    <h2 class="power">{{'openlmisLogin.poweredBy' | message:({openlmis:'OpenLMIS'})}}</h2>
    <div class="usaid"></div>
    <div class="system-notification-list" ng-if="!vm.isOffline">
        <h2> {{'openlmisSystemNotifications.systemNotifications' | message}} </h2>
        <h3 ng-if="!vm.homePageSystemNotifications || vm.homePageSystemNotifications.length === 0">
            {{'openlmisSystemNotifications.noSystemNotifications' | message}}
        </h3>
        <div class="scroll">
            <div ng-repeat="systemNotification in vm.homePageSystemNotifications | orderBy: '-createdDate'">
                <openlmis-message
                        message-title="systemNotification.title"
                        user-first-name="systemNotification.author.firstName"
                        user-last-name="systemNotification.author.lastName"
                        message-content="systemNotification.message"
                        created-date="systemNotification.createdDate">
                </openlmis-message>
            </div>
        </div>
    </div>
</div>
