<div class="home-page">
    <!-- SIGLUS-REFACTOR: Add background-->
    <div class="bg"></div>
    <!-- SIGLUS-REFACTOR: ends here -->
    <div class="power-container">
        <div ng-if="vm.isLocalMachine" class="power-title">{{'openlmisHome.tips' | message}}</div>
        <div ng-if="vm.isLocalMachine" class="power-btn-group">
            <button style="margin-right: 16px;" class="primary" ng-click="vm.export()">{{'openlmisHome.export' | message}}</button>
            <input type="file"
                   id="fileupload"
                   ng-model="vm.file"
                   ng-show="false"
                   ng-change="vm.import()"
            />
            <label class="primary" for="fileupload" >{{'openlmisHome.import' | message}}</label>
        </div>
        <h2 class="power">
            {{'openlmisLogin.poweredBy' | message:({openlmis:'OpenLMIS'})}}
        </h2>
    </div>
    <div class="usaid"></div>
    <div ng-if="vm.isLocalMachine" class="offline-container">
        <div class="sync-version">
            <span>{{'openlmisHome.localMachineVersion' | message}}：</span>
            <span style="font-weight: 400;">{{vm.localMachineVersion}}</span>
        </div>
        <div class="last-sync-date">
            <span>{{'openlmisHome.lastSyncTime' | message}}: </span>
            <span style="font-weight: 400;">{{vm.lastSyncTime}}</span>
        </div>
<!--        <div class="sync-tips">-->
<!--            <i class="fa fa-check-circle"></i>-->
<!--            Auto synced successfully at 30/08/2022 11:23:12-->
<!--        </div>-->
        <button class="primary" ng-click="vm.sync()" ng-disabled="!vm.connectedOnlineWeb">{{'openlmisHome.sync' | message}}</button>
        <div ng-if="vm.syncMessage" class="sync-tips">
            <div ng-if="vm.syncMessage === 'openlmisHome.syncedSuccessfully'">
                <i class="fa fa-check-circle"></i>
                {{vm.syncMessage | message}} {{'openlmisHome.at' | message}} {{vm.syncFinishTime}}
            </div>
            <div ng-if="vm.syncMessage === 'openlmisHome.syncedFailed'" class="error">
                <div>
                    <i class="fa fa-warning"></i>
                    {{vm.syncMessage | message}} {{'openlmisHome.at' | message}} {{vm.syncFinishTime}}
                </div>
                <div ng-repeat="error in vm.errors" class="sync-error-item">
                    <div ng-if="error.errorPayload.messageKey" class="sync-error-item-line">{{error.errorPayload.messageKey | message}}</div>
                    <div ng-if="!error.errorPayload.messageKey" class="sync-error-item-line">{{error.type}} failed</div>
<!--                    <div class="sync-error-item-line">{{error.errorPayload.errorName}}</div>-->
<!--                    <div class="sync-error-item-line">{{error.errorPayload.rootStackTrace}}</div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="system-notification-list" ng-if="!vm.isOffline">
        <h2> {{'openlmisSystemNotifications.systemNotifications' | message}} </h2>
        <h3 ng-if="!vm.homePageSystemNotifications || vm.homePageSystemNotifications.length === 0">
            {{'openlmisSystemNotifications.noSystemNotifications' | message}}
        </h3>
        <div class="scroll">
            <div ng-repeat="systemNotification in vm.homePageSystemNotifications | orderBy: '-createdDate'">
                <openlmis-message
                        message-title="systemNotification.title"
                        user-first-name="systemNotification.author.firstName"
                        user-last-name="systemNotification.author.lastName"
                        message-content="systemNotification.message"
                        created-date="systemNotification.createdDate">
                </openlmis-message>
            </div>
        </div>
    </div>
</div>
