.home-page{
    flex-direction: column;
    justify-content: center;
    align-items: center!important;

    &::after{
        content: none!important;
    }

    .bg {
        background-image: url("openlmis-home/CMAM-logo.png");
        background-repeat: no-repeat;
        background-position: left 45% bottom 50%;
        background-size: 100% 100%;
        width: 695px;
        height: 269px;
    }

    .usaid{
        background-image: url("openlmis-home/usaid-logo.png");
        background-repeat: no-repeat;
        position: absolute;
        background-size: 100% 100%;
        right: 40px;
        bottom: 40px;
        width: 170px;
        height: 100px;
    }

    .power {
        position: absolute;
        left: 64px;
        bottom: 40px;
        width: 210px;
        height: 36px;
        text-align: left;
        font-size: 12px;
        font-weight: bold;
        color: #000000;
    }

    .system-notification-list {
        position: absolute;
        top: 1.2em;
        right: 1.2em;
        text-align: right;
        width: calc(300px + 10%);

        h2 {
            margin-top: 0px;
            text-align: right;
            font-size: 22px;
            color: #58585a;
        }

        .scroll {
            .message {
                .title {
                    p {
                        margin: 0px;
                    }
                }
            }
        }
    }
}
