<header>
  <h2>{{'proofOfDeliveryView.podFor' | message}} {{vm.order.program.name}}</h2>
  <!-- <button class="primary" ng-click="vm.printProofOfDelivery()">
      {{'proofOfDeliveryView.print'|message}}
  </button> -->
</header>
<aside class="pod-info">
  <div ng-class="{'pod-emergency': vm.order.emergency, 'pod-regular': !vm.order.emergency}">
    <span>{{vm.typeMessage() | message}}</span>
  </div>

  <ul>
    <li>
      <strong>{{'proofOfDeliveryView.orderNumber' | message}}</strong>
      {{vm.order.orderCode}}
    </li>
    <li>
      <strong>{{'proofOfDeliveryView.orderStatus' | message}}</strong>
      <!-- SIGLUS-REFACTOR: starts here -->
      {{vm.order.status | orderStatus}}
      <!-- SIGLUS-REFACTOR: ends here -->
    </li>
    <li>
      <strong>{{'proofOfDeliveryView.orderingFacility' | message}}</strong>
      {{vm.order.supplyingFacility.name}}
    </li>
    <li>
      <strong>{{'proofOfDeliveryView.orderDate' | message}}</strong>
      {{vm.order.createdDate | openlmisDatetime}}
    </li>
    <li>
      <strong>{{'proofOfDeliveryView.reportingPeriod' | message}}</strong>
      {{vm.order.processingPeriod | period}}
    </li>
    <li>
      <strong>{{'proofOfDeliveryView.supplyingFacility' | message}}</strong>
      {{vm.order.facility.code}} - {{vm.order.facility.name}}
    </li>
    <!-- #365: add requisition number-->
    <li ng-if="vm.order.requisitionNumber">
      <strong>{{'proofOfDeliveryView.requisitionNumber' | message}}</strong>
      {{vm.order.requisitionNumber}}
    </li>
    <!-- #365: ends here -->
  </ul>
</aside>

<form id="proof-of-delivery-form" ng-submit="vm.submit()" on-form-error="vm.getErrorMsg()">
  <div class="openlmis-table-container">
    <table class="openlmis-table">
      <thead>
        <tr>
          <th>{{'proofOfDeliveryView.fnm' | message}}</th>
          <th>{{'proofOfDeliveryView.productName' | message}}</th>
          <th>{{'proofOfDeliveryView.lotCode' | message}}</th>
          <th style="min-width: 120px">{{'proofOfDeliveryView.expiringDate' | message}}</th>
          <th>{{'proofOfDeliveryView.quantityOrdered' | message}}</th>
          <!-- #400: Facility user partially fulfill an order and create sub-order for an requisition -->
          <th>{{'proofOfDeliveryView.partialFulfilledQuantity' | message}}</th>
          <!-- #400: ends here -->
          <th>{{'proofOfDeliveryView.quantityShipped' | message}}</th>
          <th>{{'proofOfDeliveryView.quantityAccepted' | message}}</th>
          <th ng-if="vm.showVvmColumn">{{'proofOfDeliveryView.vvmStatus' | message}}</th>
          <th>{{'proofOfDeliveryView.quantityReturned' | message}}</th>
          <th>{{'proofOfDeliveryView.reasonForAdjustment' | message}}</th>
          <th>{{'proofOfDeliveryView.price' | message}}</th>
          <th>{{'proofOfDeliveryView.value' | message}}</th>
          <th>{{'proofOfDeliveryView.notes' | message}}</th>
          <th ng-if="vm.canEdit">{{'proofOfDeliveryView.actions' | message}}</th>
        </tr>
      </thead>
      <tbody ng-repeat="orderLineItem in vm.orderLineItems | orderBy : 'orderable.fullProductName'">
        <tr class="is-secondary">
          <td>{{orderLineItem.orderable.productCode}}</td>
          <td class="white-space-pre">{{orderLineItem.orderable.fullProductName}}</td>
          <td></td>
          <td></td>
          <td>{{orderLineItem.orderedQuantity}}</td>
          <!-- #400: Facility user partially fulfill an order and create sub-order for an requisition -->
          <td>{{orderLineItem.partialFulfilledQuantity}}</td>
          <!-- #400: ends here -->
          <td></td>
          <td></td>
          <td ng-if="vm.showVvmColumn"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td ng-if="vm.canEdit"></td>
        </tr>
        <tr ng-repeat-start="groupOfFulfillingLineItems in orderLineItem.groupedLineItems | orderBy: '[0].orderable.fullProductName'">
          <td>{{groupOfFulfillingLineItems[0].orderable.productCode}}</td>
          <td class="white-space-pre">{{groupOfFulfillingLineItems[0].orderable.fullProductName}}</td>
          <td></td>
          <!-- #400: Facility user partially fulfill an order and create sub-order for an requisition -->
          <td></td>
          <!-- #400: ends here -->
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td ng-if="vm.showVvmColumn"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td ng-if="vm.canEdit">
            <button type="button" class="stock-actions add"
                    ng-click="vm.addItem(groupOfFulfillingLineItems)">
              {{'proofOfDeliveryView.addItem' | message}}
            </button>
          </td>
        </tr>
        <tr ng-repeat-end ng-repeat="(index, fulfillingLineItem) in groupOfFulfillingLineItems">
          <!-- cell for fnm / product code -->
          <td></td>
          <!-- cell for fnm / product code end -->

          <!-- cell for product name -->
          <td></td>
          <!-- cell for product name end -->

          <!-- cell for lot code -->
          <td ng-if="!vm.canEdit || (!fulfillingLineItem.orderable.isKit && !vm.isCurrentItemNewlyAdded(fulfillingLineItem))">{{fulfillingLineItem.lot | lotCode}}</td>
          <td ng-if="vm.canEdit && !fulfillingLineItem.orderable.isKit && vm.isCurrentItemNewlyAdded(fulfillingLineItem)">
            <siglus-stock-input-select
                    line-item="fulfillingLineItem"
                    line-items="groupOfFulfillingLineItems"
                    index="index"
                    enable-input="true">
            </siglus-stock-input-select>
          </td>
          <td ng-if="fulfillingLineItem.orderable.isKit"></td>
          <!-- cell for lot code end -->

          <!-- cell for expirationDate -->
          <!-- #400: Facility user partially fulfill an order and create sub-order for a requisition -->
          <td ng-if="!vm.canEdit || (!fulfillingLineItem.orderable.isKit && !vm.isCurrentItemNewlyAdded(fulfillingLineItem))">{{fulfillingLineItem.lot.expirationDate}}</td>
          <td ng-if="vm.canEdit && !fulfillingLineItem.orderable.isKit && vm.isCurrentItemNewlyAdded(fulfillingLineItem)">
            <input type="date"
                   ng-model="fulfillingLineItem.lot.expirationDate"
                   ng-required="true"
                   ng-disabled="fulfillingLineItem.lot.id"
            />
          </td>
          <td ng-if="fulfillingLineItem.orderable.isKit"></td>
          <!-- #400: ends here -->
          <!-- cell for expirationDate end -->

          <!-- cell for orderedQuantity -->
          <td></td>
          <!-- cell for orderedQuantity end -->

          <!-- cell for Partial Fulfilled -->
          <td></td>
          <!-- cell for Partial Fulfilled  end -->

          <!-- cell for supplied quantity -->
          <td>{{ vm.isCurrentItemNewlyAdded(fulfillingLineItem) ? 0 : fulfillingLineItem.quantityShipped }}</td>
          <!-- cell for supplied quantity end -->

          <!-- cell for accepted quantity -->
          <td ng-if="vm.canEdit">
            <input positive-integer
                   ng-model="fulfillingLineItem.quantityAccepted"
                   ng-change="vm.onAcceptedQuantityChanged(fulfillingLineItem)"
                   openlmis-invalid="{{fulfillingLineItem.validate().quantityAccepted | message}}"/>
          </td>
          <td ng-if="!vm.canEdit">
            {{fulfillingLineItem.quantityAccepted}}
          </td>
          <!-- cell for accepted quantity end -->

          <!-- cell for vvm -->
          <td ng-if="vm.showVvmColumn">
            <div ng-if="fulfillingLineItem.useVvm && vm.canEdit">
              <select
                  ng-model="fulfillingLineItem.vvmStatus"
                  ng-options="status as vm.getStatusDisplayName(status) for status in vm.vvmStatuses"
                  placeholder="{{'proofOfDeliveryView.selectStatus' | message}}"
                  openlmis-invalid="{{fulfillingLineItem.validate().vvmStatus | message}}">
              </select>
            </div>
            <div ng-if="fulfillingLineItem.useVvm && !vm.canEdit">
              {{fulfillingLineItem.vvmStatus}}
            </div>
          </td>
          <!-- cell for vvm end -->

          <!-- cell for returned quantity -->
          <td>{{ vm.isCurrentItemNewlyAdded(fulfillingLineItem) ? 0 : fulfillingLineItem.quantityRejected }}</td>
          <!-- cell for returned quantity end -->

          <!-- cell for adjustment reason -->
          <td ng-if="vm.canEdit">
            <select ng-model="fulfillingLineItem.rejectionReasonId"
                    ng-options="reason.id as reason.name for reason in vm.getLineItemReasonOptions(fulfillingLineItem)"
                    openlmis-invalid="{{fulfillingLineItem.validate().rejectionReasonId | message}}"
                    ng-disabled="vm.disableReasonSelect(fulfillingLineItem)">
            </select>
          </td>
          <td ng-if="!vm.canEdit">
            {{vm.getReasonName(fulfillingLineItem.rejectionReasonId)}}
          </td>
          <!-- cell for adjustment reason end -->

          <!-- cell for price -->
          <td style="white-space: nowrap">
            {{ !vm.isCurrentItemNewlyAdded(fulfillingLineItem) && fulfillingLineItem.price ? fulfillingLineItem.price + ' MZM' : ''}}
          </td>
          <!-- cell for price end -->

          <!-- cell for value -->
          <td style="white-space: nowrap">
            {{ vm.isCurrentItemNewlyAdded(fulfillingLineItem) ? '' : vm.calculateValueByShippedQuantityAndPrice(fulfillingLineItem) }}
          </td>
          <!-- cell for value end -->

          <!-- cell for notes -->
          <td ng-if="vm.canEdit">
            <input type="text" ng-model="fulfillingLineItem.notes"/>
          </td>
          <td ng-if="!vm.canEdit">
            {{fulfillingLineItem.notes}}
          </td>
          <!-- cell for notes end -->

          <!-- cell for action button -->
          <td ng-if="vm.canEdit">
            <button type="button" class="danger stock-actions"
                    ng-if="vm.isCurrentItemNewlyAdded(fulfillingLineItem)"
                    ng-click="vm.removeItem(groupOfFulfillingLineItems, index)"
            >
              {{'stockPhysicalInventoryDraft.remove' | message}}
            </button>
          </td>
          <!-- cell for action button end -->

        </tr>
      </tbody>
    </table>
  </div>
  <aside class="pod-footer" ng-if="vm.isMerge" style="margin-bottom: 40px;">
    <dl>
      <dt>{{'proofOfDeliveryView.preparedBy' | message}}</dt>
      <dd>
        <div ng-if="vm.canEdit">
          <!-- openlmis-invalid="{{vm.proofOfDelivery.validate(true).preparedBy | message}}" -->
          <input type="text" ng-model="vm.proofOfDelivery.preparedBy" disabled/>
        </div>
        <div ng-if="!vm.canEdit">{{vm.proofOfDelivery.preparedBy}}</div>
      </dd>
      <dt>{{'proofOfDeliveryView.conferredBy' | message}}</dt>
      <dd>
        <div ng-if="vm.canEdit">
          <!-- openlmis-invalid="{{vm.proofOfDelivery.validate(true).conferredBy | message}}" -->
          <input type="text" ng-model="vm.proofOfDelivery.conferredBy" disabled/>
        </div>
        <div ng-if="!vm.canEdit">{{vm.proofOfDelivery.conferredBy}}</div>
      </dd>
      <dt>{{'proofOfDeliveryView.receivedBy' | message}}</dt>
      <dd>
        <div ng-if="vm.canEdit">
          <input type="text" ng-model="vm.proofOfDelivery.receivedBy"
                 openlmis-invalid="{{vm.proofOfDelivery.validate(true).receivedBy | message}}"/>
        </div>
        <div ng-if="!vm.canEdit">{{vm.proofOfDelivery.receivedBy}}</div>
      </dd>
      <dt>{{'proofOfDeliveryView.receivedDate' | message}}</dt>
      <dd>
        <div ng-if="vm.canEdit">
          <input id="receivedDate" type="date" max-date="vm.maxDate" min-date="vm.minDate"
                 ng-model="vm.proofOfDelivery.receivedDate" required/>
        </div>
        <div ng-if="!vm.canEdit">
          {{vm.proofOfDelivery.receivedDate | openlmisDate}}
        </div>
      </dd>
    </dl>
  </aside>
</form>

<!-- SIGLUS-REFACTOR: starts here -->
<div class="openlmis-toolbar" ng-if="vm.canEdit">
  <div class="button-group">
    <button ng-if="vm.actionType === 'SUBMITTED'" class="defaul" ng-click="vm.returnBack()">
      {{'stockInitialInventory.goBack' | message}}
    </button>
    <button ng-if="!vm.isMerge && vm.actionType !== 'SUBMITTED'" class="danger"
            ng-click="vm.deleteDraft()">
      {{'proofOfDeliveryView.delete' | message}}
    </button>
    <button ng-if="vm.isMerge && vm.actionType !== 'SUBMITTED'" class="defaul"
            ng-click="vm.returnBack()">
      {{'stockInitialInventory.cancel' | message}}
    </button>
  </div>
  <div class="button-group primary">
    <button ng-if="!vm.isMerge  && vm.actionType !== 'SUBMITTED'" ng-click="vm.save()">
      {{'stockPhysicalInventoryDraft.save' | message}}
    </button>
    <button ng-if="vm.actionType !== 'SUBMITTED'" class="primary" form="proof-of-delivery-form">
      {{(vm.isMerge ? 'stockPhysicalInventoryDraft.mergeApprove' : 'stockPhysicalInventoryDraft.submit') | message}}
    </button>
  </div>
</div>

<div class="openlmis-toolbar" ng-if="!vm.canEdit">
  <div class="button-group">
    <siglus-go-back/>
  </div>
</div>
