<div class="stock-select-container">
    <div ng-if="enableInput">
        <input class="form-control min-width-select custom-item-container adjustment-input"
               ng-model="lineItem.lot.lotCode"
               autocomplete="off"
               ng-class="{'error': lineItem.$errors.lotCodeInvalid}"
               ng-focus="showSelect($event, lineItem)"
               ng-change="finishInput(lineItem)"
               ng-keydown="input(lineItem)"
               openlmis-invalid="{{lineItem.$errors.lotCodeInvalid ? lineItem.$errors.lotCodeInvalid : ''}}"
        />
        <div class="adjustment-custom-item-wrapper" ng-style="lineItem.positionTop">
            <div class="adjustment-custom-item">
                <span class="triangle">
                </span>
                <div class="auto" ng-click="autoLotCode(lineItem)">Auto generate lot</div>
                <div class="option-list">
                    <div ng-if="!!option" ng-repeat="option in lineItem.lotOptions | orderBy :'expirationDate' track by $index" ng-click="select(option)" class="option">{{option.lotCode}}</div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="!enableInput">
        <div ng-if="!lineItem.isKit" class="form-control min-width-select custom-item-container receive-select"
             ng-class="{'error': lineItem.$errors.lotCodeInvalid}"
             ng-click="showSelect($event, lineItem)"
        >{{lineItem.lot.lotCode ? lineItem.lot.lotCode : ('stockReceiveCreation.selectAnOption' | message)}}
            <div class="triangle"></div>
            <div ng-if="lineItem.lot.lotCode && !lineItem.$errors.lotCodeInvalid" class="clear-button" ng-click="clearLot(lineItem); $event.stopPropagation();"><span aria-hidden="true">×</span></div>
        </div>
        <div class="adjustment-custom-item-wrapper" ng-style="lineItem.positionTop">
            <div class="adjustment-custom-item">
                <span class="triangle">
                </span>
                <div class="auto" ng-click="autoLotCode(lineItem)">Auto generate lot</div>
                <div class="option-list">
                    <div ng-if="!!option" ng-repeat="option in lineItem.lotOptions | orderBy :'expirationDate' track by $index" ng-click="select(option)" class="option">{{option.lotCode}}</div>
                </div>
            </div>
        </div>
    </div>
</div>