.location-physical-container {  
    table {
        border: 1px solid #343434 !important;
        border-collapse: collapse !important; 
        td {
            height: 30px;
            border: 1px solid #343434;
            font-size: 12px;
            padding-left: 2px;
            padding-right: 2px;
        }
        th {
            font-size: 14px;
            border: 1px solid #343434;
            background-color: #343434;
            color: #fff;
            font-weight: 700;
            padding: 4px;
        }

        .initial-td{
            td{
                width: 100px;
            }
        }

        .blank-head{
            th{
                background-color: transparent;
            }
        }
        .text-center{
            text-align: center;
        }

        .text-bolder{
            font-weight: bold;
            font-size: 22px;
        }
    }
}