<div class="kit-usage-preview openlmis-table-container">
    <table class="openlmis-table">
        <tbody>
        <tr ng-repeat="collectionColumn in vm.collection.columns | orderBy : 'displayOrder'" ng-if="collectionColumn.isDisplayed">
            <td >{{collectionColumn.label}}</td>
            <td ng-repeat-start="serviceColumn in vm.service.columns | orderBy : 'displayOrder'"
                ng-if="serviceColumn.isDisplayed"
            >{{serviceColumn.label}}</td>
            <td class="col-source"
                ng-class="{'user-input': vm.isUserInput(serviceColumn, collectionColumn)}"
                ng-if="serviceColumn.isDisplayed"
                ng-repeat-end
            >
                <span>{{vm.getColumnValue(serviceColumn, collectionColumn)}}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
