.product-preview {
    td {
        min-width: 100px;
        &.col-source {
            color: #979797;
        }
        &.user-input {
            text-align: center;
        }
        &.user-input::before {
            content: '';
            position: absolute;
            top: 12px;
            right: 8px;
            left: 8px;
            bottom: 12px;
            border: 1px solid #c8c8c8;
            border-radius: 5px;
        }
    }
}
