<div class="patient-preview">
    <table ng-repeat="section in vm.sections" class="openlmis-table">
        <thead>
        <tr>
            <th colspan="2">{{section.label}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="column in section.columns" ng-if="column.isDisplayed">
            <td ng-class="{'grey-background': vm.isTotal(column)}">{{column.label}}</td>
            <td class="col-source"
                ng-class="{'user-input': vm.isUserInput(column)}"
            >
                <span>{{vm.columnDisplayName(column)}}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
